
<html>
  <script src="https://www.gstatic.com/charts/loader.js"></script>
  <script>
    google.charts.load('current', {packages:['corechart']});

    google.charts.setOnLoadCallback(drawTable);
    function drawTable() {
      var jscode_data = new google.visualization.DataTable();
jscode_data.addColumn("string", "Issue type", "Issue type");
jscode_data.addColumn("number", "Quantity", "quantity");
jscode_data.addRows(3);
jscode_data.setCell(0, 0, "Bugs");
jscode_data.setCell(0, 1, 2);
jscode_data.setCell(1, 0, "Code smells");
jscode_data.setCell(1, 1, 26);
jscode_data.setCell(2, 0, "Vulnerabilities");
jscode_data.setCell(2, 1, 1);

      var jscode_table = new google.visualization.PieChart(document.getElementById('table_div_jscode'));
      jscode_table.draw(jscode_data, {is3D: 'true'});

      var jscode_data_reliability = new google.visualization.DataTable();
jscode_data_reliability.addColumn("string", "File name", "file_name");
jscode_data_reliability.addColumn("number", "Lines of code", "Lines_of_code");
jscode_data_reliability.addColumn("number", "Reliability remediation effort", "Remediation_effort");
jscode_data_reliability.addColumn("string", "Reliability rating", "reliability_rating");
jscode_data_reliability.addColumn("number", "Bugs", "bugs");
jscode_data_reliability.addRows(0);

      var jscode_table = new google.visualization.BubbleChart(document.getElementById('buble_div_jscode'));
      jscode_table.draw(jscode_data_reliability, {title:'- Color: Reliability Rating (1.0 = A, 2.0 = B, 3.0 = C, 4.0 = D, 5.0 = E)   - Size: Bugs', hAxis: {title: 'Lines of code'}, vAxis: {title: 'Remediation effort (in min)'}, colors: ['red', 'orange', 'yellow', 'lightgreen', 'darkgreen']});

      var jscode_data_security = new google.visualization.DataTable();
jscode_data_security.addColumn("string", "File name", "file_name");
jscode_data_security.addColumn("number", "Lines of code", "Lines_of_code");
jscode_data_security.addColumn("number", "Security remediation effort", "Security_remediation_effort");
jscode_data_security.addColumn("string", "security rating", "security_rating");
jscode_data_security.addColumn("number", "Vulnerabilities", "vulnerabilities");
jscode_data_security.addRows(40);
jscode_data_security.setCell(0, 0, "OrderController.java");
jscode_data_security.setCell(0, 1, 22);
jscode_data_security.setCell(0, 2, 10);
jscode_data_security.setCell(0, 3, "4.0");
jscode_data_security.setCell(0, 4, 1.0);
jscode_data_security.setCell(1, 0, "AuthHeaderFilter.java");
jscode_data_security.setCell(1, 1, 31);
jscode_data_security.setCell(1, 2, 0);
jscode_data_security.setCell(1, 3, "1.0");
jscode_data_security.setCell(1, 4, 0.0);
jscode_data_security.setCell(2, 0, "CatalogServiceApplication.java");
jscode_data_security.setCell(2, 1, 21);
jscode_data_security.setCell(2, 2, 0);
jscode_data_security.setCell(2, 3, "1.0");
jscode_data_security.setCell(2, 4, 0.0);
jscode_data_security.setCell(3, 0, "ConfigServerApplication.java");
jscode_data_security.setCell(3, 1, 11);
jscode_data_security.setCell(3, 2, 0);
jscode_data_security.setCell(3, 3, "1.0");
jscode_data_security.setCell(3, 4, 0.0);
jscode_data_security.setCell(4, 0, "ContextCopyHystrixConcurrencyStrategy.java");
jscode_data_security.setCell(4, 1, 35);
jscode_data_security.setCell(4, 2, 0);
jscode_data_security.setCell(4, 3, "1.0");
jscode_data_security.setCell(4, 4, 0.0);
jscode_data_security.setCell(5, 0, "HystrixDashboardApplication.java");
jscode_data_security.setCell(5, 1, 13);
jscode_data_security.setCell(5, 2, 0);
jscode_data_security.setCell(5, 3, "1.0");
jscode_data_security.setCell(5, 4, 0.0);
jscode_data_security.setCell(6, 0, "InventoryController.java");
jscode_data_security.setCell(6, 1, 39);
jscode_data_security.setCell(6, 2, 0);
jscode_data_security.setCell(6, 3, "1.0");
jscode_data_security.setCell(6, 4, 0.0);
jscode_data_security.setCell(7, 0, "InventoryItem.java");
jscode_data_security.setCell(7, 1, 15);
jscode_data_security.setCell(7, 2, 0);
jscode_data_security.setCell(7, 3, "1.0");
jscode_data_security.setCell(7, 4, 0.0);
jscode_data_security.setCell(8, 0, "InventoryItemRepository.java");
jscode_data_security.setCell(8, 1, 7);
jscode_data_security.setCell(8, 2, 0);
jscode_data_security.setCell(8, 3, "1.0");
jscode_data_security.setCell(8, 4, 0.0);
jscode_data_security.setCell(9, 0, "InventoryServiceApplication.java");
jscode_data_security.setCell(9, 1, 11);
jscode_data_security.setCell(9, 2, 0);
jscode_data_security.setCell(9, 3, "1.0");
jscode_data_security.setCell(9, 4, 0.0);
jscode_data_security.setCell(10, 0, "InventoryServiceClient.java");
jscode_data_security.setCell(10, 1, 65);
jscode_data_security.setCell(10, 2, 0);
jscode_data_security.setCell(10, 3, "1.0");
jscode_data_security.setCell(10, 4, 0.0);
jscode_data_security.setCell(11, 0, "InventoryServiceFeignClient.java");
jscode_data_security.setCell(11, 1, 12);
jscode_data_security.setCell(11, 2, 0);
jscode_data_security.setCell(11, 3, "1.0");
jscode_data_security.setCell(11, 4, 0.0);
jscode_data_security.setCell(12, 0, "MyThreadLocalsHolder.java");
jscode_data_security.setCell(12, 1, 10);
jscode_data_security.setCell(12, 2, 0);
jscode_data_security.setCell(12, 3, "1.0");
jscode_data_security.setCell(12, 4, 0.0);
jscode_data_security.setCell(13, 0, "OAuth2Config.java");
jscode_data_security.setCell(13, 1, 36);
jscode_data_security.setCell(13, 2, 0);
jscode_data_security.setCell(13, 3, "1.0");
jscode_data_security.setCell(13, 4, 0.0);
jscode_data_security.setCell(14, 0, "Oauth2ServerApplication.java");
jscode_data_security.setCell(14, 1, 27);
jscode_data_security.setCell(14, 2, 0);
jscode_data_security.setCell(14, 3, "1.0");
jscode_data_security.setCell(14, 4, 0.0);
jscode_data_security.setCell(15, 0, "Order.java");
jscode_data_security.setCell(15, 1, 19);
jscode_data_security.setCell(15, 2, 0);
jscode_data_security.setCell(15, 3, "1.0");
jscode_data_security.setCell(15, 4, 0.0);
jscode_data_security.setCell(16, 0, "OrderItem.java");
jscode_data_security.setCell(16, 1, 24);
jscode_data_security.setCell(16, 2, 0);
jscode_data_security.setCell(16, 3, "1.0");
jscode_data_security.setCell(16, 4, 0.0);
jscode_data_security.setCell(17, 0, "OrderRepository.java");
jscode_data_security.setCell(17, 1, 5);
jscode_data_security.setCell(17, 2, 0);
jscode_data_security.setCell(17, 3, "1.0");
jscode_data_security.setCell(17, 4, 0.0);
jscode_data_security.setCell(18, 0, "OrderServiceApplication.java");
jscode_data_security.setCell(18, 1, 11);
jscode_data_security.setCell(18, 2, 0);
jscode_data_security.setCell(18, 3, "1.0");
jscode_data_security.setCell(18, 4, 0.0);
jscode_data_security.setCell(19, 0, "pom.xml");
jscode_data_security.setCell(19, 1, 105);
jscode_data_security.setCell(19, 2, 0);
jscode_data_security.setCell(19, 3, "1.0");
jscode_data_security.setCell(19, 4, 0.0);
jscode_data_security.setCell(20, 0, "pom.xml");
jscode_data_security.setCell(20, 1, 145);
jscode_data_security.setCell(20, 2, 0);
jscode_data_security.setCell(20, 3, "1.0");
jscode_data_security.setCell(20, 4, 0.0);
jscode_data_security.setCell(21, 0, "pom.xml");
jscode_data_security.setCell(21, 1, 148);
jscode_data_security.setCell(21, 2, 0);
jscode_data_security.setCell(21, 3, "1.0");
jscode_data_security.setCell(21, 4, 0.0);
jscode_data_security.setCell(22, 0, "pom.xml");
jscode_data_security.setCell(22, 1, 84);
jscode_data_security.setCell(22, 2, 0);
jscode_data_security.setCell(22, 3, "1.0");
jscode_data_security.setCell(22, 4, 0.0);
jscode_data_security.setCell(23, 0, "pom.xml");
jscode_data_security.setCell(23, 1, 106);
jscode_data_security.setCell(23, 2, 0);
jscode_data_security.setCell(23, 3, "1.0");
jscode_data_security.setCell(23, 4, 0.0);
jscode_data_security.setCell(24, 0, "pom.xml");
jscode_data_security.setCell(24, 1, 102);
jscode_data_security.setCell(24, 2, 0);
jscode_data_security.setCell(24, 3, "1.0");
jscode_data_security.setCell(24, 4, 0.0);
jscode_data_security.setCell(25, 0, "pom.xml");
jscode_data_security.setCell(25, 1, 80);
jscode_data_security.setCell(25, 2, 0);
jscode_data_security.setCell(25, 3, "1.0");
jscode_data_security.setCell(25, 4, 0.0);
jscode_data_security.setCell(26, 0, "pom.xml");
jscode_data_security.setCell(26, 1, 118);
jscode_data_security.setCell(26, 2, 0);
jscode_data_security.setCell(26, 3, "1.0");
jscode_data_security.setCell(26, 4, 0.0);
jscode_data_security.setCell(27, 0, "pom.xml");
jscode_data_security.setCell(27, 1, 23);
jscode_data_security.setCell(27, 2, 0);
jscode_data_security.setCell(27, 3, "1.0");
jscode_data_security.setCell(27, 4, 0.0);
jscode_data_security.setCell(28, 0, "pom.xml");
jscode_data_security.setCell(28, 1, 89);
jscode_data_security.setCell(28, 2, 0);
jscode_data_security.setCell(28, 3, "1.0");
jscode_data_security.setCell(28, 4, 0.0);
jscode_data_security.setCell(29, 0, "Product.java");
jscode_data_security.setCell(29, 1, 18);
jscode_data_security.setCell(29, 2, 0);
jscode_data_security.setCell(29, 3, "1.0");
jscode_data_security.setCell(29, 4, 0.0);
jscode_data_security.setCell(30, 0, "ProductController.java");
jscode_data_security.setCell(30, 1, 35);
jscode_data_security.setCell(30, 2, 0);
jscode_data_security.setCell(30, 3, "1.0");
jscode_data_security.setCell(30, 4, 0.0);
jscode_data_security.setCell(31, 0, "ProductInventoryResponse.java");
jscode_data_security.setCell(31, 1, 7);
jscode_data_security.setCell(31, 2, 0);
jscode_data_security.setCell(31, 3, "1.0");
jscode_data_security.setCell(31, 4, 0.0);
jscode_data_security.setCell(32, 0, "ProductNotFoundException.java");
jscode_data_security.setCell(32, 1, 17);
jscode_data_security.setCell(32, 2, 0);
jscode_data_security.setCell(32, 3, "1.0");
jscode_data_security.setCell(32, 4, 0.0);
jscode_data_security.setCell(33, 0, "ProductRepository.java");
jscode_data_security.setCell(33, 1, 7);
jscode_data_security.setCell(33, 2, 0);
jscode_data_security.setCell(33, 3, "1.0");
jscode_data_security.setCell(33, 4, 0.0);
jscode_data_security.setCell(34, 0, "ProductService.java");
jscode_data_security.setCell(34, 1, 58);
jscode_data_security.setCell(34, 2, 0);
jscode_data_security.setCell(34, 3, "1.0");
jscode_data_security.setCell(34, 4, 0.0);
jscode_data_security.setCell(35, 0, "ServiceRegistryApplication.java");
jscode_data_security.setCell(35, 1, 11);
jscode_data_security.setCell(35, 2, 0);
jscode_data_security.setCell(35, 3, "1.0");
jscode_data_security.setCell(35, 4, 0.0);
jscode_data_security.setCell(36, 0, "ShoppingcartUiApplication.java");
jscode_data_security.setCell(36, 1, 17);
jscode_data_security.setCell(36, 2, 0);
jscode_data_security.setCell(36, 3, "1.0");
jscode_data_security.setCell(36, 4, 0.0);
jscode_data_security.setCell(37, 0, "WebMvcConfig.java");
jscode_data_security.setCell(37, 1, 11);
jscode_data_security.setCell(37, 2, 0);
jscode_data_security.setCell(37, 3, "1.0");
jscode_data_security.setCell(37, 4, 0.0);
jscode_data_security.setCell(38, 0, "WebSecurityConfigurer.java");
jscode_data_security.setCell(38, 1, 49);
jscode_data_security.setCell(38, 2, 0);
jscode_data_security.setCell(38, 3, "1.0");
jscode_data_security.setCell(38, 4, 0.0);
jscode_data_security.setCell(39, 0, "ZipkinServerApplication.java");
jscode_data_security.setCell(39, 1, 11);
jscode_data_security.setCell(39, 2, 0);
jscode_data_security.setCell(39, 3, "1.0");
jscode_data_security.setCell(39, 4, 0.0);

      var jscode_table = new google.visualization.BubbleChart(document.getElementById('buble_div_jscode_security'));
      jscode_table.draw(jscode_data_security, {title:'- Color: Security Rating (1.0 = A, 2.0 = B, 3.0 = C, 4.0 = D, 5.0 = E)   - Size: Vulnerabilities', hAxis: {title: 'Lines of code'}, vAxis: {title: 'Remediation effort (in min)'}, colors: ['red', 'orange', 'yellow', 'lightgreen', 'darkgreen']});

      var jscode_data_maintainability = new google.visualization.DataTable();
jscode_data_maintainability.addColumn("string", "File name", "file_name");
jscode_data_maintainability.addColumn("number", "Lines of code", "Lines_of_code");
jscode_data_maintainability.addColumn("number", "Maintainability remediation effort", "sqale_index");
jscode_data_maintainability.addColumn("string", "Maintainability rating", "sqale_rating");
jscode_data_maintainability.addColumn("number", "Code smells", "code_smells");
jscode_data_maintainability.addRows(40);
jscode_data_maintainability.setCell(0, 0, "InventoryServiceClient.java");
jscode_data_maintainability.setCell(0, 1, 65);
jscode_data_maintainability.setCell(0, 2, 25);
jscode_data_maintainability.setCell(0, 3, "1.0");
jscode_data_maintainability.setCell(0, 4, 3.0);
jscode_data_maintainability.setCell(1, 0, "AuthHeaderFilter.java");
jscode_data_maintainability.setCell(1, 1, 31);
jscode_data_maintainability.setCell(1, 2, 10);
jscode_data_maintainability.setCell(1, 3, "1.0");
jscode_data_maintainability.setCell(1, 4, 2.0);
jscode_data_maintainability.setCell(2, 0, "InventoryController.java");
jscode_data_maintainability.setCell(2, 1, 39);
jscode_data_maintainability.setCell(2, 2, 10);
jscode_data_maintainability.setCell(2, 3, "1.0");
jscode_data_maintainability.setCell(2, 4, 2.0);
jscode_data_maintainability.setCell(3, 0, "MyThreadLocalsHolder.java");
jscode_data_maintainability.setCell(3, 1, 10);
jscode_data_maintainability.setCell(3, 2, 10);
jscode_data_maintainability.setCell(3, 3, "1.0");
jscode_data_maintainability.setCell(3, 4, 2.0);
jscode_data_maintainability.setCell(4, 0, "pom.xml");
jscode_data_maintainability.setCell(4, 1, 80);
jscode_data_maintainability.setCell(4, 2, 10);
jscode_data_maintainability.setCell(4, 3, "1.0");
jscode_data_maintainability.setCell(4, 4, 2.0);
jscode_data_maintainability.setCell(5, 0, "ContextCopyHystrixConcurrencyStrategy.java");
jscode_data_maintainability.setCell(5, 1, 35);
jscode_data_maintainability.setCell(5, 2, 5);
jscode_data_maintainability.setCell(5, 3, "1.0");
jscode_data_maintainability.setCell(5, 4, 1.0);
jscode_data_maintainability.setCell(6, 0, "pom.xml");
jscode_data_maintainability.setCell(6, 1, 148);
jscode_data_maintainability.setCell(6, 2, 5);
jscode_data_maintainability.setCell(6, 3, "1.0");
jscode_data_maintainability.setCell(6, 4, 1.0);
jscode_data_maintainability.setCell(7, 0, "pom.xml");
jscode_data_maintainability.setCell(7, 1, 106);
jscode_data_maintainability.setCell(7, 2, 5);
jscode_data_maintainability.setCell(7, 3, "1.0");
jscode_data_maintainability.setCell(7, 4, 1.0);
jscode_data_maintainability.setCell(8, 0, "ShoppingcartUiApplication.java");
jscode_data_maintainability.setCell(8, 1, 17);
jscode_data_maintainability.setCell(8, 2, 5);
jscode_data_maintainability.setCell(8, 3, "1.0");
jscode_data_maintainability.setCell(8, 4, 1.0);
jscode_data_maintainability.setCell(9, 0, "ProductController.java");
jscode_data_maintainability.setCell(9, 1, 35);
jscode_data_maintainability.setCell(9, 2, 2);
jscode_data_maintainability.setCell(9, 3, "1.0");
jscode_data_maintainability.setCell(9, 4, 1.0);
jscode_data_maintainability.setCell(10, 0, "ProductService.java");
jscode_data_maintainability.setCell(10, 1, 58);
jscode_data_maintainability.setCell(10, 2, 2);
jscode_data_maintainability.setCell(10, 3, "1.0");
jscode_data_maintainability.setCell(10, 4, 1.0);
jscode_data_maintainability.setCell(11, 0, "CatalogServiceApplication.java");
jscode_data_maintainability.setCell(11, 1, 21);
jscode_data_maintainability.setCell(11, 2, 0);
jscode_data_maintainability.setCell(11, 3, "1.0");
jscode_data_maintainability.setCell(11, 4, 0.0);
jscode_data_maintainability.setCell(12, 0, "ConfigServerApplication.java");
jscode_data_maintainability.setCell(12, 1, 11);
jscode_data_maintainability.setCell(12, 2, 0);
jscode_data_maintainability.setCell(12, 3, "1.0");
jscode_data_maintainability.setCell(12, 4, 0.0);
jscode_data_maintainability.setCell(13, 0, "HystrixDashboardApplication.java");
jscode_data_maintainability.setCell(13, 1, 13);
jscode_data_maintainability.setCell(13, 2, 0);
jscode_data_maintainability.setCell(13, 3, "1.0");
jscode_data_maintainability.setCell(13, 4, 0.0);
jscode_data_maintainability.setCell(14, 0, "InventoryItem.java");
jscode_data_maintainability.setCell(14, 1, 15);
jscode_data_maintainability.setCell(14, 2, 0);
jscode_data_maintainability.setCell(14, 3, "1.0");
jscode_data_maintainability.setCell(14, 4, 0.0);
jscode_data_maintainability.setCell(15, 0, "InventoryItemRepository.java");
jscode_data_maintainability.setCell(15, 1, 7);
jscode_data_maintainability.setCell(15, 2, 0);
jscode_data_maintainability.setCell(15, 3, "1.0");
jscode_data_maintainability.setCell(15, 4, 0.0);
jscode_data_maintainability.setCell(16, 0, "InventoryServiceApplication.java");
jscode_data_maintainability.setCell(16, 1, 11);
jscode_data_maintainability.setCell(16, 2, 0);
jscode_data_maintainability.setCell(16, 3, "1.0");
jscode_data_maintainability.setCell(16, 4, 0.0);
jscode_data_maintainability.setCell(17, 0, "InventoryServiceFeignClient.java");
jscode_data_maintainability.setCell(17, 1, 12);
jscode_data_maintainability.setCell(17, 2, 0);
jscode_data_maintainability.setCell(17, 3, "1.0");
jscode_data_maintainability.setCell(17, 4, 0.0);
jscode_data_maintainability.setCell(18, 0, "OAuth2Config.java");
jscode_data_maintainability.setCell(18, 1, 36);
jscode_data_maintainability.setCell(18, 2, 0);
jscode_data_maintainability.setCell(18, 3, "1.0");
jscode_data_maintainability.setCell(18, 4, 0.0);
jscode_data_maintainability.setCell(19, 0, "Oauth2ServerApplication.java");
jscode_data_maintainability.setCell(19, 1, 27);
jscode_data_maintainability.setCell(19, 2, 0);
jscode_data_maintainability.setCell(19, 3, "1.0");
jscode_data_maintainability.setCell(19, 4, 0.0);
jscode_data_maintainability.setCell(20, 0, "Order.java");
jscode_data_maintainability.setCell(20, 1, 19);
jscode_data_maintainability.setCell(20, 2, 0);
jscode_data_maintainability.setCell(20, 3, "1.0");
jscode_data_maintainability.setCell(20, 4, 0.0);
jscode_data_maintainability.setCell(21, 0, "OrderController.java");
jscode_data_maintainability.setCell(21, 1, 22);
jscode_data_maintainability.setCell(21, 2, 0);
jscode_data_maintainability.setCell(21, 3, "1.0");
jscode_data_maintainability.setCell(21, 4, 0.0);
jscode_data_maintainability.setCell(22, 0, "OrderItem.java");
jscode_data_maintainability.setCell(22, 1, 24);
jscode_data_maintainability.setCell(22, 2, 0);
jscode_data_maintainability.setCell(22, 3, "1.0");
jscode_data_maintainability.setCell(22, 4, 0.0);
jscode_data_maintainability.setCell(23, 0, "OrderRepository.java");
jscode_data_maintainability.setCell(23, 1, 5);
jscode_data_maintainability.setCell(23, 2, 0);
jscode_data_maintainability.setCell(23, 3, "1.0");
jscode_data_maintainability.setCell(23, 4, 0.0);
jscode_data_maintainability.setCell(24, 0, "OrderServiceApplication.java");
jscode_data_maintainability.setCell(24, 1, 11);
jscode_data_maintainability.setCell(24, 2, 0);
jscode_data_maintainability.setCell(24, 3, "1.0");
jscode_data_maintainability.setCell(24, 4, 0.0);
jscode_data_maintainability.setCell(25, 0, "pom.xml");
jscode_data_maintainability.setCell(25, 1, 105);
jscode_data_maintainability.setCell(25, 2, 0);
jscode_data_maintainability.setCell(25, 3, "1.0");
jscode_data_maintainability.setCell(25, 4, 0.0);
jscode_data_maintainability.setCell(26, 0, "pom.xml");
jscode_data_maintainability.setCell(26, 1, 145);
jscode_data_maintainability.setCell(26, 2, 0);
jscode_data_maintainability.setCell(26, 3, "1.0");
jscode_data_maintainability.setCell(26, 4, 0.0);
jscode_data_maintainability.setCell(27, 0, "pom.xml");
jscode_data_maintainability.setCell(27, 1, 84);
jscode_data_maintainability.setCell(27, 2, 0);
jscode_data_maintainability.setCell(27, 3, "1.0");
jscode_data_maintainability.setCell(27, 4, 0.0);
jscode_data_maintainability.setCell(28, 0, "pom.xml");
jscode_data_maintainability.setCell(28, 1, 102);
jscode_data_maintainability.setCell(28, 2, 0);
jscode_data_maintainability.setCell(28, 3, "1.0");
jscode_data_maintainability.setCell(28, 4, 0.0);
jscode_data_maintainability.setCell(29, 0, "pom.xml");
jscode_data_maintainability.setCell(29, 1, 118);
jscode_data_maintainability.setCell(29, 2, 0);
jscode_data_maintainability.setCell(29, 3, "1.0");
jscode_data_maintainability.setCell(29, 4, 0.0);
jscode_data_maintainability.setCell(30, 0, "pom.xml");
jscode_data_maintainability.setCell(30, 1, 23);
jscode_data_maintainability.setCell(30, 2, 0);
jscode_data_maintainability.setCell(30, 3, "1.0");
jscode_data_maintainability.setCell(30, 4, 0.0);
jscode_data_maintainability.setCell(31, 0, "pom.xml");
jscode_data_maintainability.setCell(31, 1, 89);
jscode_data_maintainability.setCell(31, 2, 0);
jscode_data_maintainability.setCell(31, 3, "1.0");
jscode_data_maintainability.setCell(31, 4, 0.0);
jscode_data_maintainability.setCell(32, 0, "Product.java");
jscode_data_maintainability.setCell(32, 1, 18);
jscode_data_maintainability.setCell(32, 2, 0);
jscode_data_maintainability.setCell(32, 3, "1.0");
jscode_data_maintainability.setCell(32, 4, 0.0);
jscode_data_maintainability.setCell(33, 0, "ProductInventoryResponse.java");
jscode_data_maintainability.setCell(33, 1, 7);
jscode_data_maintainability.setCell(33, 2, 0);
jscode_data_maintainability.setCell(33, 3, "1.0");
jscode_data_maintainability.setCell(33, 4, 0.0);
jscode_data_maintainability.setCell(34, 0, "ProductNotFoundException.java");
jscode_data_maintainability.setCell(34, 1, 17);
jscode_data_maintainability.setCell(34, 2, 0);
jscode_data_maintainability.setCell(34, 3, "1.0");
jscode_data_maintainability.setCell(34, 4, 0.0);
jscode_data_maintainability.setCell(35, 0, "ProductRepository.java");
jscode_data_maintainability.setCell(35, 1, 7);
jscode_data_maintainability.setCell(35, 2, 0);
jscode_data_maintainability.setCell(35, 3, "1.0");
jscode_data_maintainability.setCell(35, 4, 0.0);
jscode_data_maintainability.setCell(36, 0, "ServiceRegistryApplication.java");
jscode_data_maintainability.setCell(36, 1, 11);
jscode_data_maintainability.setCell(36, 2, 0);
jscode_data_maintainability.setCell(36, 3, "1.0");
jscode_data_maintainability.setCell(36, 4, 0.0);
jscode_data_maintainability.setCell(37, 0, "WebMvcConfig.java");
jscode_data_maintainability.setCell(37, 1, 11);
jscode_data_maintainability.setCell(37, 2, 0);
jscode_data_maintainability.setCell(37, 3, "1.0");
jscode_data_maintainability.setCell(37, 4, 0.0);
jscode_data_maintainability.setCell(38, 0, "WebSecurityConfigurer.java");
jscode_data_maintainability.setCell(38, 1, 49);
jscode_data_maintainability.setCell(38, 2, 0);
jscode_data_maintainability.setCell(38, 3, "1.0");
jscode_data_maintainability.setCell(38, 4, 0.0);
jscode_data_maintainability.setCell(39, 0, "ZipkinServerApplication.java");
jscode_data_maintainability.setCell(39, 1, 11);
jscode_data_maintainability.setCell(39, 2, 0);
jscode_data_maintainability.setCell(39, 3, "1.0");
jscode_data_maintainability.setCell(39, 4, 0.0);

      var jscode_table = new google.visualization.BubbleChart(document.getElementById('buble_div_jscode_maintainability'));
      jscode_table.draw(jscode_data_maintainability, {title:'- Color: Maintainability Rating (1.0 = A, 2.0 = B, 3.0 = C, 4.0 = D, 5.0 = E)   - Size: Code smells', hAxis: {title: 'Lines of code'}, vAxis: {title: 'Maintainability effort (in min)'}, colors: ['red', 'orange', 'yellow', 'lightgreen', 'darkgreen']});
    
      var jscode_data_coverage = new google.visualization.DataTable();
jscode_data_coverage.addColumn("string", "File name", "file_name");
jscode_data_coverage.addColumn("number", "Complexity", "complexity");
jscode_data_coverage.addColumn("number", "Coverage", "coverage");
jscode_data_coverage.addColumn("string", "ID", "ID");
jscode_data_coverage.addColumn("number", "Uncovered lines in coverage", "uncovered_lines");
jscode_data_coverage.addRows(40);
jscode_data_coverage.setCell(0, 0, "AuthHeaderFilter.java");
jscode_data_coverage.setCell(0, 1, 5);
jscode_data_coverage.setCell(0, 2, 0.0);
jscode_data_coverage.setCell(0, 3, "");
jscode_data_coverage.setCell(0, 4, 9);
jscode_data_coverage.setCell(1, 0, "CatalogServiceApplication.java");
jscode_data_coverage.setCell(1, 1, 2);
jscode_data_coverage.setCell(1, 2, 0.0);
jscode_data_coverage.setCell(1, 3, "");
jscode_data_coverage.setCell(1, 4, 3);
jscode_data_coverage.setCell(2, 0, "ConfigServerApplication.java");
jscode_data_coverage.setCell(2, 1, 1);
jscode_data_coverage.setCell(2, 2, 0.0);
jscode_data_coverage.setCell(2, 3, "");
jscode_data_coverage.setCell(2, 4, 2);
jscode_data_coverage.setCell(3, 0, "ContextCopyHystrixConcurrencyStrategy.java");
jscode_data_coverage.setCell(3, 1, 4);
jscode_data_coverage.setCell(3, 2, 0.0);
jscode_data_coverage.setCell(3, 3, "");
jscode_data_coverage.setCell(3, 4, 11);
jscode_data_coverage.setCell(4, 0, "HystrixDashboardApplication.java");
jscode_data_coverage.setCell(4, 1, 1);
jscode_data_coverage.setCell(4, 2, 0.0);
jscode_data_coverage.setCell(4, 3, "");
jscode_data_coverage.setCell(4, 4, 2);
jscode_data_coverage.setCell(5, 0, "InventoryController.java");
jscode_data_coverage.setCell(5, 1, 4);
jscode_data_coverage.setCell(5, 2, 0.0);
jscode_data_coverage.setCell(5, 3, "");
jscode_data_coverage.setCell(5, 4, 9);
jscode_data_coverage.setCell(6, 0, "InventoryItem.java");
jscode_data_coverage.setCell(6, 1, 0);
jscode_data_coverage.setCell(6, 2, 0.0);
jscode_data_coverage.setCell(6, 3, "");
jscode_data_coverage.setCell(6, 4, 1);
jscode_data_coverage.setCell(7, 0, "InventoryServiceApplication.java");
jscode_data_coverage.setCell(7, 1, 1);
jscode_data_coverage.setCell(7, 2, 0.0);
jscode_data_coverage.setCell(7, 3, "");
jscode_data_coverage.setCell(7, 4, 2);
jscode_data_coverage.setCell(8, 0, "InventoryServiceClient.java");
jscode_data_coverage.setCell(8, 1, 6);
jscode_data_coverage.setCell(8, 2, 0.0);
jscode_data_coverage.setCell(8, 3, "");
jscode_data_coverage.setCell(8, 4, 23);
jscode_data_coverage.setCell(9, 0, "MyThreadLocalsHolder.java");
jscode_data_coverage.setCell(9, 1, 2);
jscode_data_coverage.setCell(9, 2, 0.0);
jscode_data_coverage.setCell(9, 3, "");
jscode_data_coverage.setCell(9, 4, 4);
jscode_data_coverage.setCell(10, 0, "OAuth2Config.java");
jscode_data_coverage.setCell(10, 1, 2);
jscode_data_coverage.setCell(10, 2, 0.0);
jscode_data_coverage.setCell(10, 3, "");
jscode_data_coverage.setCell(10, 4, 10);
jscode_data_coverage.setCell(11, 0, "Oauth2ServerApplication.java");
jscode_data_coverage.setCell(11, 1, 2);
jscode_data_coverage.setCell(11, 2, 0.0);
jscode_data_coverage.setCell(11, 3, "");
jscode_data_coverage.setCell(11, 4, 6);
jscode_data_coverage.setCell(12, 0, "OrderController.java");
jscode_data_coverage.setCell(12, 1, 3);
jscode_data_coverage.setCell(12, 2, 0.0);
jscode_data_coverage.setCell(12, 3, "");
jscode_data_coverage.setCell(12, 4, 4);
jscode_data_coverage.setCell(13, 0, "OrderItem.java");
jscode_data_coverage.setCell(13, 1, 1);
jscode_data_coverage.setCell(13, 2, 0.0);
jscode_data_coverage.setCell(13, 3, "");
jscode_data_coverage.setCell(13, 4, 1);
jscode_data_coverage.setCell(14, 0, "OrderServiceApplication.java");
jscode_data_coverage.setCell(14, 1, 1);
jscode_data_coverage.setCell(14, 2, 0.0);
jscode_data_coverage.setCell(14, 3, "");
jscode_data_coverage.setCell(14, 4, 2);
jscode_data_coverage.setCell(15, 0, "Product.java");
jscode_data_coverage.setCell(15, 1, 0);
jscode_data_coverage.setCell(15, 2, 0.0);
jscode_data_coverage.setCell(15, 3, "");
jscode_data_coverage.setCell(15, 4, 1);
jscode_data_coverage.setCell(16, 0, "ProductController.java");
jscode_data_coverage.setCell(16, 1, 4);
jscode_data_coverage.setCell(16, 2, 0.0);
jscode_data_coverage.setCell(16, 3, "");
jscode_data_coverage.setCell(16, 4, 9);
jscode_data_coverage.setCell(17, 0, "ProductInventoryResponse.java");
jscode_data_coverage.setCell(17, 1, 0);
jscode_data_coverage.setCell(17, 2, 0.0);
jscode_data_coverage.setCell(17, 3, "");
jscode_data_coverage.setCell(17, 4, 1);
jscode_data_coverage.setCell(18, 0, "ProductNotFoundException.java");
jscode_data_coverage.setCell(18, 1, 4);
jscode_data_coverage.setCell(18, 2, 0.0);
jscode_data_coverage.setCell(18, 3, "");
jscode_data_coverage.setCell(18, 4, 7);
jscode_data_coverage.setCell(19, 0, "ProductService.java");
jscode_data_coverage.setCell(19, 1, 9);
jscode_data_coverage.setCell(19, 2, 0.0);
jscode_data_coverage.setCell(19, 3, "");
jscode_data_coverage.setCell(19, 4, 30);
jscode_data_coverage.setCell(20, 0, "ServiceRegistryApplication.java");
jscode_data_coverage.setCell(20, 1, 1);
jscode_data_coverage.setCell(20, 2, 0.0);
jscode_data_coverage.setCell(20, 3, "");
jscode_data_coverage.setCell(20, 4, 2);
jscode_data_coverage.setCell(21, 0, "ShoppingcartUiApplication.java");
jscode_data_coverage.setCell(21, 1, 2);
jscode_data_coverage.setCell(21, 2, 0.0);
jscode_data_coverage.setCell(21, 3, "");
jscode_data_coverage.setCell(21, 4, 3);
jscode_data_coverage.setCell(22, 0, "WebMvcConfig.java");
jscode_data_coverage.setCell(22, 1, 1);
jscode_data_coverage.setCell(22, 2, 0.0);
jscode_data_coverage.setCell(22, 3, "");
jscode_data_coverage.setCell(22, 4, 2);
jscode_data_coverage.setCell(23, 0, "WebSecurityConfigurer.java");
jscode_data_coverage.setCell(23, 1, 5);
jscode_data_coverage.setCell(23, 2, 0.0);
jscode_data_coverage.setCell(23, 3, "");
jscode_data_coverage.setCell(23, 4, 12);
jscode_data_coverage.setCell(24, 0, "ZipkinServerApplication.java");
jscode_data_coverage.setCell(24, 1, 1);
jscode_data_coverage.setCell(24, 2, 0.0);
jscode_data_coverage.setCell(24, 3, "");
jscode_data_coverage.setCell(24, 4, 2);
jscode_data_coverage.setCell(25, 0, "InventoryItemRepository.java");
jscode_data_coverage.setCell(25, 1, 0);
jscode_data_coverage.setCell(25, 2, 0.0);
jscode_data_coverage.setCell(25, 3, "");
jscode_data_coverage.setCell(25, 4, 2);
jscode_data_coverage.setCell(26, 0, "InventoryServiceFeignClient.java");
jscode_data_coverage.setCell(26, 1, 0);
jscode_data_coverage.setCell(26, 2, 0.0);
jscode_data_coverage.setCell(26, 3, "");
jscode_data_coverage.setCell(26, 4, 2);
jscode_data_coverage.setCell(27, 0, "Order.java");
jscode_data_coverage.setCell(27, 1, 0);
jscode_data_coverage.setCell(27, 2, 0.0);
jscode_data_coverage.setCell(27, 3, "");
jscode_data_coverage.setCell(27, 4, 2);
jscode_data_coverage.setCell(28, 0, "OrderRepository.java");
jscode_data_coverage.setCell(28, 1, 0);
jscode_data_coverage.setCell(28, 2, 0.0);
jscode_data_coverage.setCell(28, 3, "");
jscode_data_coverage.setCell(28, 4, 2);
jscode_data_coverage.setCell(29, 0, "pom.xml");
jscode_data_coverage.setCell(29, 1, 0);
jscode_data_coverage.setCell(29, 2, 0.0);
jscode_data_coverage.setCell(29, 3, "");
jscode_data_coverage.setCell(29, 4, 2);
jscode_data_coverage.setCell(30, 0, "pom.xml");
jscode_data_coverage.setCell(30, 1, 0);
jscode_data_coverage.setCell(30, 2, 0.0);
jscode_data_coverage.setCell(30, 3, "");
jscode_data_coverage.setCell(30, 4, 2);
jscode_data_coverage.setCell(31, 0, "pom.xml");
jscode_data_coverage.setCell(31, 1, 0);
jscode_data_coverage.setCell(31, 2, 0.0);
jscode_data_coverage.setCell(31, 3, "");
jscode_data_coverage.setCell(31, 4, 2);
jscode_data_coverage.setCell(32, 0, "pom.xml");
jscode_data_coverage.setCell(32, 1, 0);
jscode_data_coverage.setCell(32, 2, 0.0);
jscode_data_coverage.setCell(32, 3, "");
jscode_data_coverage.setCell(32, 4, 2);
jscode_data_coverage.setCell(33, 0, "pom.xml");
jscode_data_coverage.setCell(33, 1, 0);
jscode_data_coverage.setCell(33, 2, 0.0);
jscode_data_coverage.setCell(33, 3, "");
jscode_data_coverage.setCell(33, 4, 2);
jscode_data_coverage.setCell(34, 0, "pom.xml");
jscode_data_coverage.setCell(34, 1, 0);
jscode_data_coverage.setCell(34, 2, 0.0);
jscode_data_coverage.setCell(34, 3, "");
jscode_data_coverage.setCell(34, 4, 2);
jscode_data_coverage.setCell(35, 0, "pom.xml");
jscode_data_coverage.setCell(35, 1, 0);
jscode_data_coverage.setCell(35, 2, 0.0);
jscode_data_coverage.setCell(35, 3, "");
jscode_data_coverage.setCell(35, 4, 2);
jscode_data_coverage.setCell(36, 0, "pom.xml");
jscode_data_coverage.setCell(36, 1, 0);
jscode_data_coverage.setCell(36, 2, 0.0);
jscode_data_coverage.setCell(36, 3, "");
jscode_data_coverage.setCell(36, 4, 2);
jscode_data_coverage.setCell(37, 0, "pom.xml");
jscode_data_coverage.setCell(37, 1, 0);
jscode_data_coverage.setCell(37, 2, 0.0);
jscode_data_coverage.setCell(37, 3, "");
jscode_data_coverage.setCell(37, 4, 2);
jscode_data_coverage.setCell(38, 0, "pom.xml");
jscode_data_coverage.setCell(38, 1, 0);
jscode_data_coverage.setCell(38, 2, 0.0);
jscode_data_coverage.setCell(38, 3, "");
jscode_data_coverage.setCell(38, 4, 2);
jscode_data_coverage.setCell(39, 0, "ProductRepository.java");
jscode_data_coverage.setCell(39, 1, 0);
jscode_data_coverage.setCell(39, 2, 0.0);
jscode_data_coverage.setCell(39, 3, "");
jscode_data_coverage.setCell(39, 4, 2);

      var jscode_table = new google.visualization.BubbleChart(document.getElementById('buble_div_jscode_coverage'));
      jscode_table.draw(jscode_data_coverage, {title:'- Size: Uncovered lines', hAxis: {title: 'Cyclomatic complexity'}, vAxis: {title: 'Coverage'}});

      var jscode_data_duplications = new google.visualization.DataTable();
jscode_data_duplications.addColumn("string", "File name", "file_name");
jscode_data_duplications.addColumn("number", "Lines of code", "Lines_of_code");
jscode_data_duplications.addColumn("number", "Duplicated lines", "duplicated_lines");
jscode_data_duplications.addColumn("string", "ID", "ID");
jscode_data_duplications.addColumn("number", "Duplicated blocks", "duplicated_blocks");
jscode_data_duplications.addRows(40);
jscode_data_duplications.setCell(0, 0, "AuthHeaderFilter.java");
jscode_data_duplications.setCell(0, 1, 31);
jscode_data_duplications.setCell(0, 2, 0);
jscode_data_duplications.setCell(0, 3, "");
jscode_data_duplications.setCell(0, 4, 0);
jscode_data_duplications.setCell(1, 0, "CatalogServiceApplication.java");
jscode_data_duplications.setCell(1, 1, 21);
jscode_data_duplications.setCell(1, 2, 0);
jscode_data_duplications.setCell(1, 3, "");
jscode_data_duplications.setCell(1, 4, 0);
jscode_data_duplications.setCell(2, 0, "ConfigServerApplication.java");
jscode_data_duplications.setCell(2, 1, 11);
jscode_data_duplications.setCell(2, 2, 0);
jscode_data_duplications.setCell(2, 3, "");
jscode_data_duplications.setCell(2, 4, 0);
jscode_data_duplications.setCell(3, 0, "ContextCopyHystrixConcurrencyStrategy.java");
jscode_data_duplications.setCell(3, 1, 35);
jscode_data_duplications.setCell(3, 2, 0);
jscode_data_duplications.setCell(3, 3, "");
jscode_data_duplications.setCell(3, 4, 0);
jscode_data_duplications.setCell(4, 0, "HystrixDashboardApplication.java");
jscode_data_duplications.setCell(4, 1, 13);
jscode_data_duplications.setCell(4, 2, 0);
jscode_data_duplications.setCell(4, 3, "");
jscode_data_duplications.setCell(4, 4, 0);
jscode_data_duplications.setCell(5, 0, "InventoryController.java");
jscode_data_duplications.setCell(5, 1, 39);
jscode_data_duplications.setCell(5, 2, 0);
jscode_data_duplications.setCell(5, 3, "");
jscode_data_duplications.setCell(5, 4, 0);
jscode_data_duplications.setCell(6, 0, "InventoryItem.java");
jscode_data_duplications.setCell(6, 1, 15);
jscode_data_duplications.setCell(6, 2, 0);
jscode_data_duplications.setCell(6, 3, "");
jscode_data_duplications.setCell(6, 4, 0);
jscode_data_duplications.setCell(7, 0, "InventoryItemRepository.java");
jscode_data_duplications.setCell(7, 1, 7);
jscode_data_duplications.setCell(7, 2, 0);
jscode_data_duplications.setCell(7, 3, "");
jscode_data_duplications.setCell(7, 4, 0);
jscode_data_duplications.setCell(8, 0, "InventoryServiceApplication.java");
jscode_data_duplications.setCell(8, 1, 11);
jscode_data_duplications.setCell(8, 2, 0);
jscode_data_duplications.setCell(8, 3, "");
jscode_data_duplications.setCell(8, 4, 0);
jscode_data_duplications.setCell(9, 0, "InventoryServiceClient.java");
jscode_data_duplications.setCell(9, 1, 65);
jscode_data_duplications.setCell(9, 2, 0);
jscode_data_duplications.setCell(9, 3, "");
jscode_data_duplications.setCell(9, 4, 0);
jscode_data_duplications.setCell(10, 0, "InventoryServiceFeignClient.java");
jscode_data_duplications.setCell(10, 1, 12);
jscode_data_duplications.setCell(10, 2, 0);
jscode_data_duplications.setCell(10, 3, "");
jscode_data_duplications.setCell(10, 4, 0);
jscode_data_duplications.setCell(11, 0, "MyThreadLocalsHolder.java");
jscode_data_duplications.setCell(11, 1, 10);
jscode_data_duplications.setCell(11, 2, 0);
jscode_data_duplications.setCell(11, 3, "");
jscode_data_duplications.setCell(11, 4, 0);
jscode_data_duplications.setCell(12, 0, "OAuth2Config.java");
jscode_data_duplications.setCell(12, 1, 36);
jscode_data_duplications.setCell(12, 2, 0);
jscode_data_duplications.setCell(12, 3, "");
jscode_data_duplications.setCell(12, 4, 0);
jscode_data_duplications.setCell(13, 0, "Oauth2ServerApplication.java");
jscode_data_duplications.setCell(13, 1, 27);
jscode_data_duplications.setCell(13, 2, 0);
jscode_data_duplications.setCell(13, 3, "");
jscode_data_duplications.setCell(13, 4, 0);
jscode_data_duplications.setCell(14, 0, "Order.java");
jscode_data_duplications.setCell(14, 1, 19);
jscode_data_duplications.setCell(14, 2, 0);
jscode_data_duplications.setCell(14, 3, "");
jscode_data_duplications.setCell(14, 4, 0);
jscode_data_duplications.setCell(15, 0, "OrderController.java");
jscode_data_duplications.setCell(15, 1, 22);
jscode_data_duplications.setCell(15, 2, 0);
jscode_data_duplications.setCell(15, 3, "");
jscode_data_duplications.setCell(15, 4, 0);
jscode_data_duplications.setCell(16, 0, "OrderItem.java");
jscode_data_duplications.setCell(16, 1, 24);
jscode_data_duplications.setCell(16, 2, 0);
jscode_data_duplications.setCell(16, 3, "");
jscode_data_duplications.setCell(16, 4, 0);
jscode_data_duplications.setCell(17, 0, "OrderRepository.java");
jscode_data_duplications.setCell(17, 1, 5);
jscode_data_duplications.setCell(17, 2, 0);
jscode_data_duplications.setCell(17, 3, "");
jscode_data_duplications.setCell(17, 4, 0);
jscode_data_duplications.setCell(18, 0, "OrderServiceApplication.java");
jscode_data_duplications.setCell(18, 1, 11);
jscode_data_duplications.setCell(18, 2, 0);
jscode_data_duplications.setCell(18, 3, "");
jscode_data_duplications.setCell(18, 4, 0);
jscode_data_duplications.setCell(19, 0, "pom.xml");
jscode_data_duplications.setCell(19, 1, 105);
jscode_data_duplications.setCell(19, 2, 0);
jscode_data_duplications.setCell(19, 3, "");
jscode_data_duplications.setCell(19, 4, 0);
jscode_data_duplications.setCell(20, 0, "pom.xml");
jscode_data_duplications.setCell(20, 1, 145);
jscode_data_duplications.setCell(20, 2, 0);
jscode_data_duplications.setCell(20, 3, "");
jscode_data_duplications.setCell(20, 4, 0);
jscode_data_duplications.setCell(21, 0, "pom.xml");
jscode_data_duplications.setCell(21, 1, 148);
jscode_data_duplications.setCell(21, 2, 0);
jscode_data_duplications.setCell(21, 3, "");
jscode_data_duplications.setCell(21, 4, 0);
jscode_data_duplications.setCell(22, 0, "pom.xml");
jscode_data_duplications.setCell(22, 1, 84);
jscode_data_duplications.setCell(22, 2, 0);
jscode_data_duplications.setCell(22, 3, "");
jscode_data_duplications.setCell(22, 4, 0);
jscode_data_duplications.setCell(23, 0, "pom.xml");
jscode_data_duplications.setCell(23, 1, 106);
jscode_data_duplications.setCell(23, 2, 0);
jscode_data_duplications.setCell(23, 3, "");
jscode_data_duplications.setCell(23, 4, 0);
jscode_data_duplications.setCell(24, 0, "pom.xml");
jscode_data_duplications.setCell(24, 1, 102);
jscode_data_duplications.setCell(24, 2, 0);
jscode_data_duplications.setCell(24, 3, "");
jscode_data_duplications.setCell(24, 4, 0);
jscode_data_duplications.setCell(25, 0, "pom.xml");
jscode_data_duplications.setCell(25, 1, 80);
jscode_data_duplications.setCell(25, 2, 0);
jscode_data_duplications.setCell(25, 3, "");
jscode_data_duplications.setCell(25, 4, 0);
jscode_data_duplications.setCell(26, 0, "pom.xml");
jscode_data_duplications.setCell(26, 1, 118);
jscode_data_duplications.setCell(26, 2, 0);
jscode_data_duplications.setCell(26, 3, "");
jscode_data_duplications.setCell(26, 4, 0);
jscode_data_duplications.setCell(27, 0, "pom.xml");
jscode_data_duplications.setCell(27, 1, 23);
jscode_data_duplications.setCell(27, 2, 0);
jscode_data_duplications.setCell(27, 3, "");
jscode_data_duplications.setCell(27, 4, 0);
jscode_data_duplications.setCell(28, 0, "pom.xml");
jscode_data_duplications.setCell(28, 1, 89);
jscode_data_duplications.setCell(28, 2, 0);
jscode_data_duplications.setCell(28, 3, "");
jscode_data_duplications.setCell(28, 4, 0);
jscode_data_duplications.setCell(29, 0, "Product.java");
jscode_data_duplications.setCell(29, 1, 18);
jscode_data_duplications.setCell(29, 2, 0);
jscode_data_duplications.setCell(29, 3, "");
jscode_data_duplications.setCell(29, 4, 0);
jscode_data_duplications.setCell(30, 0, "ProductController.java");
jscode_data_duplications.setCell(30, 1, 35);
jscode_data_duplications.setCell(30, 2, 0);
jscode_data_duplications.setCell(30, 3, "");
jscode_data_duplications.setCell(30, 4, 0);
jscode_data_duplications.setCell(31, 0, "ProductInventoryResponse.java");
jscode_data_duplications.setCell(31, 1, 7);
jscode_data_duplications.setCell(31, 2, 0);
jscode_data_duplications.setCell(31, 3, "");
jscode_data_duplications.setCell(31, 4, 0);
jscode_data_duplications.setCell(32, 0, "ProductNotFoundException.java");
jscode_data_duplications.setCell(32, 1, 17);
jscode_data_duplications.setCell(32, 2, 0);
jscode_data_duplications.setCell(32, 3, "");
jscode_data_duplications.setCell(32, 4, 0);
jscode_data_duplications.setCell(33, 0, "ProductRepository.java");
jscode_data_duplications.setCell(33, 1, 7);
jscode_data_duplications.setCell(33, 2, 0);
jscode_data_duplications.setCell(33, 3, "");
jscode_data_duplications.setCell(33, 4, 0);
jscode_data_duplications.setCell(34, 0, "ProductService.java");
jscode_data_duplications.setCell(34, 1, 58);
jscode_data_duplications.setCell(34, 2, 0);
jscode_data_duplications.setCell(34, 3, "");
jscode_data_duplications.setCell(34, 4, 0);
jscode_data_duplications.setCell(35, 0, "ServiceRegistryApplication.java");
jscode_data_duplications.setCell(35, 1, 11);
jscode_data_duplications.setCell(35, 2, 0);
jscode_data_duplications.setCell(35, 3, "");
jscode_data_duplications.setCell(35, 4, 0);
jscode_data_duplications.setCell(36, 0, "ShoppingcartUiApplication.java");
jscode_data_duplications.setCell(36, 1, 17);
jscode_data_duplications.setCell(36, 2, 0);
jscode_data_duplications.setCell(36, 3, "");
jscode_data_duplications.setCell(36, 4, 0);
jscode_data_duplications.setCell(37, 0, "WebMvcConfig.java");
jscode_data_duplications.setCell(37, 1, 11);
jscode_data_duplications.setCell(37, 2, 0);
jscode_data_duplications.setCell(37, 3, "");
jscode_data_duplications.setCell(37, 4, 0);
jscode_data_duplications.setCell(38, 0, "WebSecurityConfigurer.java");
jscode_data_duplications.setCell(38, 1, 49);
jscode_data_duplications.setCell(38, 2, 0);
jscode_data_duplications.setCell(38, 3, "");
jscode_data_duplications.setCell(38, 4, 0);
jscode_data_duplications.setCell(39, 0, "ZipkinServerApplication.java");
jscode_data_duplications.setCell(39, 1, 11);
jscode_data_duplications.setCell(39, 2, 0);
jscode_data_duplications.setCell(39, 3, "");
jscode_data_duplications.setCell(39, 4, 0);

      var jscode_table = new google.visualization.BubbleChart(document.getElementById('buble_div_jscode_duplications'));
      jscode_table.draw(jscode_data_duplications, {title:'- Size: Duplicated Blocks', hAxis: {title: 'Lines of Code'}, vAxis: {title: 'Duplication Lines'}});
    }
  </script>
  <body>
    <H1><strong>Issue types distribution:</strong></H1>
    <div id="table_div_jscode" style="width: 800px; height: 400px;"></div>
    <H1><strong>Reliability:</strong></H1>
    <div id="buble_div_jscode" style="width: 800px; height: 400px;"></div>
    <H1><strong>Security:</strong></H1>
    <div id="buble_div_jscode_security" style="width: 800px; height: 400px;"></div>
    <H1><strong>Maintainability:</strong></H1>
    <div id="buble_div_jscode_maintainability" style="width: 800px; height: 400px;"></div>
    <H1><strong>Coverage:</strong></H1>
    <div id="buble_div_jscode_coverage" style="width: 800px; height: 400px;"></div>
    <H1><strong>Duplications:</strong></H1>
    <div id="buble_div_jscode_duplications" style="width: 800px; height: 400px;"></div>
  </body>
</html>
