
<html>
  <script src="https://www.gstatic.com/charts/loader.js"></script>
  <script>
    google.charts.load('current', {packages:['corechart']});

    google.charts.setOnLoadCallback(drawTable);
    function drawTable() {
      var jscode_data = new google.visualization.DataTable();
jscode_data.addColumn("string", "Issue type", "Issue type");
jscode_data.addColumn("number", "Quantity", "quantity");
jscode_data.addRows(3);
jscode_data.setCell(0, 0, "Bug");
jscode_data.setCell(0, 1, 2);
jscode_data.setCell(1, 0, "Code smells");
jscode_data.setCell(1, 1, 26);
jscode_data.setCell(2, 0, "Vulnerabilities");
jscode_data.setCell(2, 1, 1);

      var jscode_table = new google.visualization.PieChart(document.getElementById('table_div_jscode'));
      jscode_table.draw(jscode_data, {is3D: true});

    }
  </script>
  <body>
    <div id="table_div_jscode"></div>
  </body>
</html>
