
<html>
  <script src="https://www.gstatic.com/charts/loader.js"></script>
  <script>
    google.charts.load('current', {packages:['corechart']});

    google.charts.setOnLoadCallback(drawTable);
    function drawTable() {
      var jscode_data = new google.visualization.DataTable();
jscode_data.addColumn("string", "Issue type", "Issue type");
jscode_data.addColumn("number", "Quantity", "quantity");
jscode_data.addRows(3);
jscode_data.setCell(0, 0, "Bugs");
jscode_data.setCell(0, 1, 2);
jscode_data.setCell(1, 0, "Code smells");
jscode_data.setCell(1, 1, 26);
jscode_data.setCell(2, 0, "Vulnerabilities");
jscode_data.setCell(2, 1, 1);

      var jscode_table = new google.visualization.PieChart(document.getElementById('table_div_jscode'));
      jscode_table.draw(jscode_data);

      var jscode_data_reliability = new google.visualization.DataTable();
jscode_data_reliability.addColumn("string", "File name", "file_name");
jscode_data_reliability.addColumn("number", "Lines of code", "Lines_of_code");
jscode_data_reliability.addColumn("number", "Reliability remediation effort", "Remediation_effort");
jscode_data_reliability.addColumn("number", "Reliability rating", "reliability_rating");
jscode_data_reliability.addColumn("number", "Bugs", "bugs");
jscode_data_reliability.addRows(40);
jscode_data_reliability.setCell(0, 0, "InventoryServiceClient.java");
jscode_data_reliability.setCell(0, 1, 65);
jscode_data_reliability.setCell(0, 2, 10);
jscode_data_reliability.setCell(0, 3, 3.0);
jscode_data_reliability.setCell(0, 4, 1.0);
jscode_data_reliability.setCell(1, 0, "MyThreadLocalsHolder.java");
jscode_data_reliability.setCell(1, 1, 10);
jscode_data_reliability.setCell(1, 2, 10);
jscode_data_reliability.setCell(1, 3, 3.0);
jscode_data_reliability.setCell(1, 4, 1.0);
jscode_data_reliability.setCell(2, 0, "AuthHeaderFilter.java");
jscode_data_reliability.setCell(2, 1, 31);
jscode_data_reliability.setCell(2, 2, 0);
jscode_data_reliability.setCell(2, 3, 1.0);
jscode_data_reliability.setCell(2, 4, 0.0);
jscode_data_reliability.setCell(3, 0, "CatalogServiceApplication.java");
jscode_data_reliability.setCell(3, 1, 21);
jscode_data_reliability.setCell(3, 2, 0);
jscode_data_reliability.setCell(3, 3, 1.0);
jscode_data_reliability.setCell(3, 4, 0.0);
jscode_data_reliability.setCell(4, 0, "ConfigServerApplication.java");
jscode_data_reliability.setCell(4, 1, 11);
jscode_data_reliability.setCell(4, 2, 0);
jscode_data_reliability.setCell(4, 3, 1.0);
jscode_data_reliability.setCell(4, 4, 0.0);
jscode_data_reliability.setCell(5, 0, "ContextCopyHystrixConcurrencyStrategy.java");
jscode_data_reliability.setCell(5, 1, 35);
jscode_data_reliability.setCell(5, 2, 0);
jscode_data_reliability.setCell(5, 3, 1.0);
jscode_data_reliability.setCell(5, 4, 0.0);
jscode_data_reliability.setCell(6, 0, "HystrixDashboardApplication.java");
jscode_data_reliability.setCell(6, 1, 13);
jscode_data_reliability.setCell(6, 2, 0);
jscode_data_reliability.setCell(6, 3, 1.0);
jscode_data_reliability.setCell(6, 4, 0.0);
jscode_data_reliability.setCell(7, 0, "InventoryController.java");
jscode_data_reliability.setCell(7, 1, 39);
jscode_data_reliability.setCell(7, 2, 0);
jscode_data_reliability.setCell(7, 3, 1.0);
jscode_data_reliability.setCell(7, 4, 0.0);
jscode_data_reliability.setCell(8, 0, "InventoryItem.java");
jscode_data_reliability.setCell(8, 1, 15);
jscode_data_reliability.setCell(8, 2, 0);
jscode_data_reliability.setCell(8, 3, 1.0);
jscode_data_reliability.setCell(8, 4, 0.0);
jscode_data_reliability.setCell(9, 0, "InventoryItemRepository.java");
jscode_data_reliability.setCell(9, 1, 7);
jscode_data_reliability.setCell(9, 2, 0);
jscode_data_reliability.setCell(9, 3, 1.0);
jscode_data_reliability.setCell(9, 4, 0.0);
jscode_data_reliability.setCell(10, 0, "InventoryServiceApplication.java");
jscode_data_reliability.setCell(10, 1, 11);
jscode_data_reliability.setCell(10, 2, 0);
jscode_data_reliability.setCell(10, 3, 1.0);
jscode_data_reliability.setCell(10, 4, 0.0);
jscode_data_reliability.setCell(11, 0, "InventoryServiceFeignClient.java");
jscode_data_reliability.setCell(11, 1, 12);
jscode_data_reliability.setCell(11, 2, 0);
jscode_data_reliability.setCell(11, 3, 1.0);
jscode_data_reliability.setCell(11, 4, 0.0);
jscode_data_reliability.setCell(12, 0, "OAuth2Config.java");
jscode_data_reliability.setCell(12, 1, 36);
jscode_data_reliability.setCell(12, 2, 0);
jscode_data_reliability.setCell(12, 3, 1.0);
jscode_data_reliability.setCell(12, 4, 0.0);
jscode_data_reliability.setCell(13, 0, "Oauth2ServerApplication.java");
jscode_data_reliability.setCell(13, 1, 27);
jscode_data_reliability.setCell(13, 2, 0);
jscode_data_reliability.setCell(13, 3, 1.0);
jscode_data_reliability.setCell(13, 4, 0.0);
jscode_data_reliability.setCell(14, 0, "Order.java");
jscode_data_reliability.setCell(14, 1, 19);
jscode_data_reliability.setCell(14, 2, 0);
jscode_data_reliability.setCell(14, 3, 1.0);
jscode_data_reliability.setCell(14, 4, 0.0);
jscode_data_reliability.setCell(15, 0, "OrderController.java");
jscode_data_reliability.setCell(15, 1, 22);
jscode_data_reliability.setCell(15, 2, 0);
jscode_data_reliability.setCell(15, 3, 1.0);
jscode_data_reliability.setCell(15, 4, 0.0);
jscode_data_reliability.setCell(16, 0, "OrderItem.java");
jscode_data_reliability.setCell(16, 1, 24);
jscode_data_reliability.setCell(16, 2, 0);
jscode_data_reliability.setCell(16, 3, 1.0);
jscode_data_reliability.setCell(16, 4, 0.0);
jscode_data_reliability.setCell(17, 0, "OrderRepository.java");
jscode_data_reliability.setCell(17, 1, 5);
jscode_data_reliability.setCell(17, 2, 0);
jscode_data_reliability.setCell(17, 3, 1.0);
jscode_data_reliability.setCell(17, 4, 0.0);
jscode_data_reliability.setCell(18, 0, "OrderServiceApplication.java");
jscode_data_reliability.setCell(18, 1, 11);
jscode_data_reliability.setCell(18, 2, 0);
jscode_data_reliability.setCell(18, 3, 1.0);
jscode_data_reliability.setCell(18, 4, 0.0);
jscode_data_reliability.setCell(19, 0, "pom.xml");
jscode_data_reliability.setCell(19, 1, 105);
jscode_data_reliability.setCell(19, 2, 0);
jscode_data_reliability.setCell(19, 3, 1.0);
jscode_data_reliability.setCell(19, 4, 0.0);
jscode_data_reliability.setCell(20, 0, "pom.xml");
jscode_data_reliability.setCell(20, 1, 145);
jscode_data_reliability.setCell(20, 2, 0);
jscode_data_reliability.setCell(20, 3, 1.0);
jscode_data_reliability.setCell(20, 4, 0.0);
jscode_data_reliability.setCell(21, 0, "pom.xml");
jscode_data_reliability.setCell(21, 1, 148);
jscode_data_reliability.setCell(21, 2, 0);
jscode_data_reliability.setCell(21, 3, 1.0);
jscode_data_reliability.setCell(21, 4, 0.0);
jscode_data_reliability.setCell(22, 0, "pom.xml");
jscode_data_reliability.setCell(22, 1, 84);
jscode_data_reliability.setCell(22, 2, 0);
jscode_data_reliability.setCell(22, 3, 1.0);
jscode_data_reliability.setCell(22, 4, 0.0);
jscode_data_reliability.setCell(23, 0, "pom.xml");
jscode_data_reliability.setCell(23, 1, 106);
jscode_data_reliability.setCell(23, 2, 0);
jscode_data_reliability.setCell(23, 3, 1.0);
jscode_data_reliability.setCell(23, 4, 0.0);
jscode_data_reliability.setCell(24, 0, "pom.xml");
jscode_data_reliability.setCell(24, 1, 102);
jscode_data_reliability.setCell(24, 2, 0);
jscode_data_reliability.setCell(24, 3, 1.0);
jscode_data_reliability.setCell(24, 4, 0.0);
jscode_data_reliability.setCell(25, 0, "pom.xml");
jscode_data_reliability.setCell(25, 1, 80);
jscode_data_reliability.setCell(25, 2, 0);
jscode_data_reliability.setCell(25, 3, 1.0);
jscode_data_reliability.setCell(25, 4, 0.0);
jscode_data_reliability.setCell(26, 0, "pom.xml");
jscode_data_reliability.setCell(26, 1, 118);
jscode_data_reliability.setCell(26, 2, 0);
jscode_data_reliability.setCell(26, 3, 1.0);
jscode_data_reliability.setCell(26, 4, 0.0);
jscode_data_reliability.setCell(27, 0, "pom.xml");
jscode_data_reliability.setCell(27, 1, 23);
jscode_data_reliability.setCell(27, 2, 0);
jscode_data_reliability.setCell(27, 3, 1.0);
jscode_data_reliability.setCell(27, 4, 0.0);
jscode_data_reliability.setCell(28, 0, "pom.xml");
jscode_data_reliability.setCell(28, 1, 89);
jscode_data_reliability.setCell(28, 2, 0);
jscode_data_reliability.setCell(28, 3, 1.0);
jscode_data_reliability.setCell(28, 4, 0.0);
jscode_data_reliability.setCell(29, 0, "Product.java");
jscode_data_reliability.setCell(29, 1, 18);
jscode_data_reliability.setCell(29, 2, 0);
jscode_data_reliability.setCell(29, 3, 1.0);
jscode_data_reliability.setCell(29, 4, 0.0);
jscode_data_reliability.setCell(30, 0, "ProductController.java");
jscode_data_reliability.setCell(30, 1, 35);
jscode_data_reliability.setCell(30, 2, 0);
jscode_data_reliability.setCell(30, 3, 1.0);
jscode_data_reliability.setCell(30, 4, 0.0);
jscode_data_reliability.setCell(31, 0, "ProductInventoryResponse.java");
jscode_data_reliability.setCell(31, 1, 7);
jscode_data_reliability.setCell(31, 2, 0);
jscode_data_reliability.setCell(31, 3, 1.0);
jscode_data_reliability.setCell(31, 4, 0.0);
jscode_data_reliability.setCell(32, 0, "ProductNotFoundException.java");
jscode_data_reliability.setCell(32, 1, 17);
jscode_data_reliability.setCell(32, 2, 0);
jscode_data_reliability.setCell(32, 3, 1.0);
jscode_data_reliability.setCell(32, 4, 0.0);
jscode_data_reliability.setCell(33, 0, "ProductRepository.java");
jscode_data_reliability.setCell(33, 1, 7);
jscode_data_reliability.setCell(33, 2, 0);
jscode_data_reliability.setCell(33, 3, 1.0);
jscode_data_reliability.setCell(33, 4, 0.0);
jscode_data_reliability.setCell(34, 0, "ProductService.java");
jscode_data_reliability.setCell(34, 1, 58);
jscode_data_reliability.setCell(34, 2, 0);
jscode_data_reliability.setCell(34, 3, 1.0);
jscode_data_reliability.setCell(34, 4, 0.0);
jscode_data_reliability.setCell(35, 0, "ServiceRegistryApplication.java");
jscode_data_reliability.setCell(35, 1, 11);
jscode_data_reliability.setCell(35, 2, 0);
jscode_data_reliability.setCell(35, 3, 1.0);
jscode_data_reliability.setCell(35, 4, 0.0);
jscode_data_reliability.setCell(36, 0, "ShoppingcartUiApplication.java");
jscode_data_reliability.setCell(36, 1, 17);
jscode_data_reliability.setCell(36, 2, 0);
jscode_data_reliability.setCell(36, 3, 1.0);
jscode_data_reliability.setCell(36, 4, 0.0);
jscode_data_reliability.setCell(37, 0, "WebMvcConfig.java");
jscode_data_reliability.setCell(37, 1, 11);
jscode_data_reliability.setCell(37, 2, 0);
jscode_data_reliability.setCell(37, 3, 1.0);
jscode_data_reliability.setCell(37, 4, 0.0);
jscode_data_reliability.setCell(38, 0, "WebSecurityConfigurer.java");
jscode_data_reliability.setCell(38, 1, 49);
jscode_data_reliability.setCell(38, 2, 0);
jscode_data_reliability.setCell(38, 3, 1.0);
jscode_data_reliability.setCell(38, 4, 0.0);
jscode_data_reliability.setCell(39, 0, "ZipkinServerApplication.java");
jscode_data_reliability.setCell(39, 1, 11);
jscode_data_reliability.setCell(39, 2, 0);
jscode_data_reliability.setCell(39, 3, 1.0);
jscode_data_reliability.setCell(39, 4, 0.0);

      var jscode_table = new google.visualization.BubbleChart(document.getElementById('buble_div_jscode'));
      jscode_table.draw(jscode_data_reliability, {hAxis: {title: 'Lines_of_code'}}, {vAxis: {title: 'Remediation_effort'}});

    }
  </script>
  <body>
    <H1><strong>Issue types distribution:</strong></H1>
    <div id="table_div_jscode" style="width: 900px; height: 500px;"></div>
    <H1><strong>Reliability:</strong></H1>
    <div id="buble_div_jscode" style="width: 900px; height: 500px;"></div>
  </body>
</html>
