
<html>
  <script src="https://www.gstatic.com/charts/loader.js"></script>
  <script>
    google.charts.load('current', {packages:['corechart']});

    google.charts.setOnLoadCallback(drawTable);
    function drawTable() {
      var jscode_data = new google.visualization.DataTable();
jscode_data.addColumn("string", "Issue type", "Issue type");
jscode_data.addColumn("number", "Quantity", "quantity");
jscode_data.addRows(3);
jscode_data.setCell(0, 0, "Bugs");
jscode_data.setCell(0, 1, 0);
jscode_data.setCell(1, 0, "Code smells");
jscode_data.setCell(1, 1, 12);
jscode_data.setCell(2, 0, "Vulnerabilities");
jscode_data.setCell(2, 1, 0);

      var jscode_table = new google.visualization.PieChart(document.getElementById('table_div_jscode'));
      jscode_table.draw(jscode_data, {is3D: 'true'});

      var jscode_data_reliability = new google.visualization.DataTable();
jscode_data_reliability.addColumn("string", "File name", "file_name");
jscode_data_reliability.addColumn("number", "Lines of code", "Lines_of_code");
jscode_data_reliability.addColumn("number", "Reliability remediation effort", "Remediation_effort");
jscode_data_reliability.addColumn("string", "Reliability rating", "reliability_rating");
jscode_data_reliability.addColumn("number", "Bugs", "bugs");
jscode_data_reliability.addRows(23);
jscode_data_reliability.setCell(0, 0, "Account.java");
jscode_data_reliability.setCell(0, 1, 12);
jscode_data_reliability.setCell(0, 2, 0);
jscode_data_reliability.setCell(0, 3, "1.0");
jscode_data_reliability.setCell(0, 4, 0.0);
jscode_data_reliability.setCell(1, 0, "Account.java");
jscode_data_reliability.setCell(1, 1, 11);
jscode_data_reliability.setCell(1, 2, 0);
jscode_data_reliability.setCell(1, 3, "1.0");
jscode_data_reliability.setCell(1, 4, 0.0);
jscode_data_reliability.setCell(2, 0, "AccountClient.java");
jscode_data_reliability.setCell(2, 1, 12);
jscode_data_reliability.setCell(2, 2, 0);
jscode_data_reliability.setCell(2, 3, "1.0");
jscode_data_reliability.setCell(2, 4, 0.0);
jscode_data_reliability.setCell(3, 0, "AccountConfiguration.java");
jscode_data_reliability.setCell(3, 1, 13);
jscode_data_reliability.setCell(3, 2, 0);
jscode_data_reliability.setCell(3, 3, "1.0");
jscode_data_reliability.setCell(3, 4, 0.0);
jscode_data_reliability.setCell(4, 0, "AccountNotFoundException.java");
jscode_data_reliability.setCell(4, 1, 9);
jscode_data_reliability.setCell(4, 2, 0);
jscode_data_reliability.setCell(4, 3, "1.0");
jscode_data_reliability.setCell(4, 4, 0.0);
jscode_data_reliability.setCell(5, 0, "AccountServiceApplication.java");
jscode_data_reliability.setCell(5, 1, 11);
jscode_data_reliability.setCell(5, 2, 0);
jscode_data_reliability.setCell(5, 3, "1.0");
jscode_data_reliability.setCell(5, 4, 0.0);
jscode_data_reliability.setCell(6, 0, "Api.java");
jscode_data_reliability.setCell(6, 1, 73);
jscode_data_reliability.setCell(6, 2, 0);
jscode_data_reliability.setCell(6, 3, "1.0");
jscode_data_reliability.setCell(6, 4, 0.0);
jscode_data_reliability.setCell(7, 0, "Api.java");
jscode_data_reliability.setCell(7, 1, 70);
jscode_data_reliability.setCell(7, 2, 0);
jscode_data_reliability.setCell(7, 3, "1.0");
jscode_data_reliability.setCell(7, 4, 0.0);
jscode_data_reliability.setCell(8, 0, "Customer.java");
jscode_data_reliability.setCell(8, 1, 21);
jscode_data_reliability.setCell(8, 2, 0);
jscode_data_reliability.setCell(8, 3, "1.0");
jscode_data_reliability.setCell(8, 4, 0.0);
jscode_data_reliability.setCell(9, 0, "CustomerConfiguration.java");
jscode_data_reliability.setCell(9, 1, 13);
jscode_data_reliability.setCell(9, 2, 0);
jscode_data_reliability.setCell(9, 3, "1.0");
jscode_data_reliability.setCell(9, 4, 0.0);
jscode_data_reliability.setCell(10, 0, "CustomerConfiguration.java");
jscode_data_reliability.setCell(10, 1, 13);
jscode_data_reliability.setCell(10, 2, 0);
jscode_data_reliability.setCell(10, 3, "1.0");
jscode_data_reliability.setCell(10, 4, 0.0);
jscode_data_reliability.setCell(11, 0, "CustomerNotFoundException.java");
jscode_data_reliability.setCell(11, 1, 9);
jscode_data_reliability.setCell(11, 2, 0);
jscode_data_reliability.setCell(11, 3, "1.0");
jscode_data_reliability.setCell(11, 4, 0.0);
jscode_data_reliability.setCell(12, 0, "CustomerServiceApplication.java");
jscode_data_reliability.setCell(12, 1, 13);
jscode_data_reliability.setCell(12, 2, 0);
jscode_data_reliability.setCell(12, 3, "1.0");
jscode_data_reliability.setCell(12, 4, 0.0);
jscode_data_reliability.setCell(13, 0, "CustomerType.java");
jscode_data_reliability.setCell(13, 1, 4);
jscode_data_reliability.setCell(13, 2, 0);
jscode_data_reliability.setCell(13, 3, "1.0");
jscode_data_reliability.setCell(13, 4, 0.0);
jscode_data_reliability.setCell(14, 0, "DiscoveryServiceApplication.java");
jscode_data_reliability.setCell(14, 1, 11);
jscode_data_reliability.setCell(14, 2, 0);
jscode_data_reliability.setCell(14, 3, "1.0");
jscode_data_reliability.setCell(14, 4, 0.0);
jscode_data_reliability.setCell(15, 0, "GatewayServiceApplication.java");
jscode_data_reliability.setCell(15, 1, 11);
jscode_data_reliability.setCell(15, 2, 0);
jscode_data_reliability.setCell(15, 3, "1.0");
jscode_data_reliability.setCell(15, 4, 0.0);
jscode_data_reliability.setCell(16, 0, "pom.xml");
jscode_data_reliability.setCell(16, 1, 48);
jscode_data_reliability.setCell(16, 2, 0);
jscode_data_reliability.setCell(16, 3, "1.0");
jscode_data_reliability.setCell(16, 4, 0.0);
jscode_data_reliability.setCell(17, 0, "pom.xml");
jscode_data_reliability.setCell(17, 1, 52);
jscode_data_reliability.setCell(17, 2, 0);
jscode_data_reliability.setCell(17, 3, "1.0");
jscode_data_reliability.setCell(17, 4, 0.0);
jscode_data_reliability.setCell(18, 0, "pom.xml");
jscode_data_reliability.setCell(18, 1, 32);
jscode_data_reliability.setCell(18, 2, 0);
jscode_data_reliability.setCell(18, 3, "1.0");
jscode_data_reliability.setCell(18, 4, 0.0);
jscode_data_reliability.setCell(19, 0, "pom.xml");
jscode_data_reliability.setCell(19, 1, 36);
jscode_data_reliability.setCell(19, 2, 0);
jscode_data_reliability.setCell(19, 3, "1.0");
jscode_data_reliability.setCell(19, 4, 0.0);
jscode_data_reliability.setCell(20, 0, "pom.xml");
jscode_data_reliability.setCell(20, 1, 47);
jscode_data_reliability.setCell(20, 2, 0);
jscode_data_reliability.setCell(20, 3, "1.0");
jscode_data_reliability.setCell(20, 4, 0.0);
jscode_data_reliability.setCell(21, 0, "pom.xml");
jscode_data_reliability.setCell(21, 1, 60);
jscode_data_reliability.setCell(21, 2, 0);
jscode_data_reliability.setCell(21, 3, "1.0");
jscode_data_reliability.setCell(21, 4, 0.0);
jscode_data_reliability.setCell(22, 0, "ZipkinServiceApplication.java");
jscode_data_reliability.setCell(22, 1, 11);
jscode_data_reliability.setCell(22, 2, 0);
jscode_data_reliability.setCell(22, 3, "1.0");
jscode_data_reliability.setCell(22, 4, 0.0);

      var jscode_table = new google.visualization.BubbleChart(document.getElementById('buble_div_jscode'));
      jscode_table.draw(jscode_data_reliability, {title:'- Color: Reliability Rating (1.0 = A, 2.0 = B, 3.0 = C, 4.0 = D, 5.0 = E)   - Size: Bugs', hAxis: {title: 'Lines of code'}, vAxis: {title: 'Remediation effort (in min)'}, colors: ['red', 'orange', 'yellow', 'lightgreen', 'darkgreen']});

      var jscode_data_security = new google.visualization.DataTable();
jscode_data_security.addColumn("string", "File name", "file_name");
jscode_data_security.addColumn("number", "Lines of code", "Lines_of_code");
jscode_data_security.addColumn("number", "Security remediation effort", "Security_remediation_effort");
jscode_data_security.addColumn("string", "security rating", "security_rating");
jscode_data_security.addColumn("number", "Vulnerabilities", "vulnerabilities");
jscode_data_security.addRows(23);
jscode_data_security.setCell(0, 0, "Account.java");
jscode_data_security.setCell(0, 1, 12);
jscode_data_security.setCell(0, 2, 0);
jscode_data_security.setCell(0, 3, "1.0");
jscode_data_security.setCell(0, 4, 0.0);
jscode_data_security.setCell(1, 0, "Account.java");
jscode_data_security.setCell(1, 1, 11);
jscode_data_security.setCell(1, 2, 0);
jscode_data_security.setCell(1, 3, "1.0");
jscode_data_security.setCell(1, 4, 0.0);
jscode_data_security.setCell(2, 0, "AccountClient.java");
jscode_data_security.setCell(2, 1, 12);
jscode_data_security.setCell(2, 2, 0);
jscode_data_security.setCell(2, 3, "1.0");
jscode_data_security.setCell(2, 4, 0.0);
jscode_data_security.setCell(3, 0, "AccountConfiguration.java");
jscode_data_security.setCell(3, 1, 13);
jscode_data_security.setCell(3, 2, 0);
jscode_data_security.setCell(3, 3, "1.0");
jscode_data_security.setCell(3, 4, 0.0);
jscode_data_security.setCell(4, 0, "AccountNotFoundException.java");
jscode_data_security.setCell(4, 1, 9);
jscode_data_security.setCell(4, 2, 0);
jscode_data_security.setCell(4, 3, "1.0");
jscode_data_security.setCell(4, 4, 0.0);
jscode_data_security.setCell(5, 0, "AccountServiceApplication.java");
jscode_data_security.setCell(5, 1, 11);
jscode_data_security.setCell(5, 2, 0);
jscode_data_security.setCell(5, 3, "1.0");
jscode_data_security.setCell(5, 4, 0.0);
jscode_data_security.setCell(6, 0, "Api.java");
jscode_data_security.setCell(6, 1, 73);
jscode_data_security.setCell(6, 2, 0);
jscode_data_security.setCell(6, 3, "1.0");
jscode_data_security.setCell(6, 4, 0.0);
jscode_data_security.setCell(7, 0, "Api.java");
jscode_data_security.setCell(7, 1, 70);
jscode_data_security.setCell(7, 2, 0);
jscode_data_security.setCell(7, 3, "1.0");
jscode_data_security.setCell(7, 4, 0.0);
jscode_data_security.setCell(8, 0, "Customer.java");
jscode_data_security.setCell(8, 1, 21);
jscode_data_security.setCell(8, 2, 0);
jscode_data_security.setCell(8, 3, "1.0");
jscode_data_security.setCell(8, 4, 0.0);
jscode_data_security.setCell(9, 0, "CustomerConfiguration.java");
jscode_data_security.setCell(9, 1, 13);
jscode_data_security.setCell(9, 2, 0);
jscode_data_security.setCell(9, 3, "1.0");
jscode_data_security.setCell(9, 4, 0.0);
jscode_data_security.setCell(10, 0, "CustomerConfiguration.java");
jscode_data_security.setCell(10, 1, 13);
jscode_data_security.setCell(10, 2, 0);
jscode_data_security.setCell(10, 3, "1.0");
jscode_data_security.setCell(10, 4, 0.0);
jscode_data_security.setCell(11, 0, "CustomerNotFoundException.java");
jscode_data_security.setCell(11, 1, 9);
jscode_data_security.setCell(11, 2, 0);
jscode_data_security.setCell(11, 3, "1.0");
jscode_data_security.setCell(11, 4, 0.0);
jscode_data_security.setCell(12, 0, "CustomerServiceApplication.java");
jscode_data_security.setCell(12, 1, 13);
jscode_data_security.setCell(12, 2, 0);
jscode_data_security.setCell(12, 3, "1.0");
jscode_data_security.setCell(12, 4, 0.0);
jscode_data_security.setCell(13, 0, "CustomerType.java");
jscode_data_security.setCell(13, 1, 4);
jscode_data_security.setCell(13, 2, 0);
jscode_data_security.setCell(13, 3, "1.0");
jscode_data_security.setCell(13, 4, 0.0);
jscode_data_security.setCell(14, 0, "DiscoveryServiceApplication.java");
jscode_data_security.setCell(14, 1, 11);
jscode_data_security.setCell(14, 2, 0);
jscode_data_security.setCell(14, 3, "1.0");
jscode_data_security.setCell(14, 4, 0.0);
jscode_data_security.setCell(15, 0, "GatewayServiceApplication.java");
jscode_data_security.setCell(15, 1, 11);
jscode_data_security.setCell(15, 2, 0);
jscode_data_security.setCell(15, 3, "1.0");
jscode_data_security.setCell(15, 4, 0.0);
jscode_data_security.setCell(16, 0, "pom.xml");
jscode_data_security.setCell(16, 1, 48);
jscode_data_security.setCell(16, 2, 0);
jscode_data_security.setCell(16, 3, "1.0");
jscode_data_security.setCell(16, 4, 0.0);
jscode_data_security.setCell(17, 0, "pom.xml");
jscode_data_security.setCell(17, 1, 52);
jscode_data_security.setCell(17, 2, 0);
jscode_data_security.setCell(17, 3, "1.0");
jscode_data_security.setCell(17, 4, 0.0);
jscode_data_security.setCell(18, 0, "pom.xml");
jscode_data_security.setCell(18, 1, 32);
jscode_data_security.setCell(18, 2, 0);
jscode_data_security.setCell(18, 3, "1.0");
jscode_data_security.setCell(18, 4, 0.0);
jscode_data_security.setCell(19, 0, "pom.xml");
jscode_data_security.setCell(19, 1, 36);
jscode_data_security.setCell(19, 2, 0);
jscode_data_security.setCell(19, 3, "1.0");
jscode_data_security.setCell(19, 4, 0.0);
jscode_data_security.setCell(20, 0, "pom.xml");
jscode_data_security.setCell(20, 1, 47);
jscode_data_security.setCell(20, 2, 0);
jscode_data_security.setCell(20, 3, "1.0");
jscode_data_security.setCell(20, 4, 0.0);
jscode_data_security.setCell(21, 0, "pom.xml");
jscode_data_security.setCell(21, 1, 60);
jscode_data_security.setCell(21, 2, 0);
jscode_data_security.setCell(21, 3, "1.0");
jscode_data_security.setCell(21, 4, 0.0);
jscode_data_security.setCell(22, 0, "ZipkinServiceApplication.java");
jscode_data_security.setCell(22, 1, 11);
jscode_data_security.setCell(22, 2, 0);
jscode_data_security.setCell(22, 3, "1.0");
jscode_data_security.setCell(22, 4, 0.0);

      var jscode_table = new google.visualization.BubbleChart(document.getElementById('buble_div_jscode_security'));
      jscode_table.draw(jscode_data_security, {title:'- Color: Security Rating (1.0 = A, 2.0 = B, 3.0 = C, 4.0 = D, 5.0 = E)   - Size: Vulnerabilities', hAxis: {title: 'Lines of code'}, vAxis: {title: 'Remediation effort (in min)'}, colors: ['red', 'orange', 'yellow', 'lightgreen', 'darkgreen']});

      var jscode_data_maintainability = new google.visualization.DataTable();
jscode_data_maintainability.addColumn("string", "File name", "file_name");
jscode_data_maintainability.addColumn("number", "Lines of code", "Lines_of_code");
jscode_data_maintainability.addColumn("number", "Maintainability remediation effort", "sqale_index");
jscode_data_maintainability.addColumn("string", "Maintainability rating", "sqale_rating");
jscode_data_maintainability.addColumn("number", "Code smells", "code_smells");
jscode_data_maintainability.addRows(23);
jscode_data_maintainability.setCell(0, 0, "Api.java");
jscode_data_maintainability.setCell(0, 1, 73);
jscode_data_maintainability.setCell(0, 2, 12);
jscode_data_maintainability.setCell(0, 3, "1.0");
jscode_data_maintainability.setCell(0, 4, 6.0);
jscode_data_maintainability.setCell(1, 0, "Api.java");
jscode_data_maintainability.setCell(1, 1, 70);
jscode_data_maintainability.setCell(1, 2, 10);
jscode_data_maintainability.setCell(1, 3, "1.0");
jscode_data_maintainability.setCell(1, 4, 5.0);
jscode_data_maintainability.setCell(2, 0, "AccountClient.java");
jscode_data_maintainability.setCell(2, 1, 12);
jscode_data_maintainability.setCell(2, 2, 2);
jscode_data_maintainability.setCell(2, 3, "1.0");
jscode_data_maintainability.setCell(2, 4, 1.0);
jscode_data_maintainability.setCell(3, 0, "Account.java");
jscode_data_maintainability.setCell(3, 1, 12);
jscode_data_maintainability.setCell(3, 2, 0);
jscode_data_maintainability.setCell(3, 3, "1.0");
jscode_data_maintainability.setCell(3, 4, 0.0);
jscode_data_maintainability.setCell(4, 0, "Account.java");
jscode_data_maintainability.setCell(4, 1, 11);
jscode_data_maintainability.setCell(4, 2, 0);
jscode_data_maintainability.setCell(4, 3, "1.0");
jscode_data_maintainability.setCell(4, 4, 0.0);
jscode_data_maintainability.setCell(5, 0, "AccountConfiguration.java");
jscode_data_maintainability.setCell(5, 1, 13);
jscode_data_maintainability.setCell(5, 2, 0);
jscode_data_maintainability.setCell(5, 3, "1.0");
jscode_data_maintainability.setCell(5, 4, 0.0);
jscode_data_maintainability.setCell(6, 0, "AccountNotFoundException.java");
jscode_data_maintainability.setCell(6, 1, 9);
jscode_data_maintainability.setCell(6, 2, 0);
jscode_data_maintainability.setCell(6, 3, "1.0");
jscode_data_maintainability.setCell(6, 4, 0.0);
jscode_data_maintainability.setCell(7, 0, "AccountServiceApplication.java");
jscode_data_maintainability.setCell(7, 1, 11);
jscode_data_maintainability.setCell(7, 2, 0);
jscode_data_maintainability.setCell(7, 3, "1.0");
jscode_data_maintainability.setCell(7, 4, 0.0);
jscode_data_maintainability.setCell(8, 0, "Customer.java");
jscode_data_maintainability.setCell(8, 1, 21);
jscode_data_maintainability.setCell(8, 2, 0);
jscode_data_maintainability.setCell(8, 3, "1.0");
jscode_data_maintainability.setCell(8, 4, 0.0);
jscode_data_maintainability.setCell(9, 0, "CustomerConfiguration.java");
jscode_data_maintainability.setCell(9, 1, 13);
jscode_data_maintainability.setCell(9, 2, 0);
jscode_data_maintainability.setCell(9, 3, "1.0");
jscode_data_maintainability.setCell(9, 4, 0.0);
jscode_data_maintainability.setCell(10, 0, "CustomerConfiguration.java");
jscode_data_maintainability.setCell(10, 1, 13);
jscode_data_maintainability.setCell(10, 2, 0);
jscode_data_maintainability.setCell(10, 3, "1.0");
jscode_data_maintainability.setCell(10, 4, 0.0);
jscode_data_maintainability.setCell(11, 0, "CustomerNotFoundException.java");
jscode_data_maintainability.setCell(11, 1, 9);
jscode_data_maintainability.setCell(11, 2, 0);
jscode_data_maintainability.setCell(11, 3, "1.0");
jscode_data_maintainability.setCell(11, 4, 0.0);
jscode_data_maintainability.setCell(12, 0, "CustomerServiceApplication.java");
jscode_data_maintainability.setCell(12, 1, 13);
jscode_data_maintainability.setCell(12, 2, 0);
jscode_data_maintainability.setCell(12, 3, "1.0");
jscode_data_maintainability.setCell(12, 4, 0.0);
jscode_data_maintainability.setCell(13, 0, "CustomerType.java");
jscode_data_maintainability.setCell(13, 1, 4);
jscode_data_maintainability.setCell(13, 2, 0);
jscode_data_maintainability.setCell(13, 3, "1.0");
jscode_data_maintainability.setCell(13, 4, 0.0);
jscode_data_maintainability.setCell(14, 0, "DiscoveryServiceApplication.java");
jscode_data_maintainability.setCell(14, 1, 11);
jscode_data_maintainability.setCell(14, 2, 0);
jscode_data_maintainability.setCell(14, 3, "1.0");
jscode_data_maintainability.setCell(14, 4, 0.0);
jscode_data_maintainability.setCell(15, 0, "GatewayServiceApplication.java");
jscode_data_maintainability.setCell(15, 1, 11);
jscode_data_maintainability.setCell(15, 2, 0);
jscode_data_maintainability.setCell(15, 3, "1.0");
jscode_data_maintainability.setCell(15, 4, 0.0);
jscode_data_maintainability.setCell(16, 0, "pom.xml");
jscode_data_maintainability.setCell(16, 1, 48);
jscode_data_maintainability.setCell(16, 2, 0);
jscode_data_maintainability.setCell(16, 3, "1.0");
jscode_data_maintainability.setCell(16, 4, 0.0);
jscode_data_maintainability.setCell(17, 0, "pom.xml");
jscode_data_maintainability.setCell(17, 1, 52);
jscode_data_maintainability.setCell(17, 2, 0);
jscode_data_maintainability.setCell(17, 3, "1.0");
jscode_data_maintainability.setCell(17, 4, 0.0);
jscode_data_maintainability.setCell(18, 0, "pom.xml");
jscode_data_maintainability.setCell(18, 1, 32);
jscode_data_maintainability.setCell(18, 2, 0);
jscode_data_maintainability.setCell(18, 3, "1.0");
jscode_data_maintainability.setCell(18, 4, 0.0);
jscode_data_maintainability.setCell(19, 0, "pom.xml");
jscode_data_maintainability.setCell(19, 1, 36);
jscode_data_maintainability.setCell(19, 2, 0);
jscode_data_maintainability.setCell(19, 3, "1.0");
jscode_data_maintainability.setCell(19, 4, 0.0);
jscode_data_maintainability.setCell(20, 0, "pom.xml");
jscode_data_maintainability.setCell(20, 1, 47);
jscode_data_maintainability.setCell(20, 2, 0);
jscode_data_maintainability.setCell(20, 3, "1.0");
jscode_data_maintainability.setCell(20, 4, 0.0);
jscode_data_maintainability.setCell(21, 0, "pom.xml");
jscode_data_maintainability.setCell(21, 1, 60);
jscode_data_maintainability.setCell(21, 2, 0);
jscode_data_maintainability.setCell(21, 3, "1.0");
jscode_data_maintainability.setCell(21, 4, 0.0);
jscode_data_maintainability.setCell(22, 0, "ZipkinServiceApplication.java");
jscode_data_maintainability.setCell(22, 1, 11);
jscode_data_maintainability.setCell(22, 2, 0);
jscode_data_maintainability.setCell(22, 3, "1.0");
jscode_data_maintainability.setCell(22, 4, 0.0);

      var jscode_table = new google.visualization.BubbleChart(document.getElementById('buble_div_jscode_maintainability'));
      jscode_table.draw(jscode_data_maintainability, {title:'- Color: Maintainability Rating (1.0 = A, 2.0 = B, 3.0 = C, 4.0 = D, 5.0 = E)   - Size: Code smells', hAxis: {title: 'Lines of code'}, vAxis: {title: 'Maintainability effort (in min)'}, colors: ['red', 'orange', 'yellow', 'lightgreen', 'darkgreen']});
    
      var jscode_data_coverage = new google.visualization.DataTable();
jscode_data_coverage.addColumn("string", "File name", "file_name");
jscode_data_coverage.addColumn("number", "Complexity", "complexity");
jscode_data_coverage.addColumn("number", "Coverage", "coverage");
jscode_data_coverage.addColumn("string", "ID", "ID");
jscode_data_coverage.addColumn("number", "Uncovered lines in coverage", "uncovered_lines");
jscode_data_coverage.addRows(23);
jscode_data_coverage.setCell(0, 0, "AccountConfiguration.java");
jscode_data_coverage.setCell(0, 1, 1);
jscode_data_coverage.setCell(0, 2, 0.0);
jscode_data_coverage.setCell(0, 3, "");
jscode_data_coverage.setCell(0, 4, 1);
jscode_data_coverage.setCell(1, 0, "AccountNotFoundException.java");
jscode_data_coverage.setCell(1, 1, 1);
jscode_data_coverage.setCell(1, 2, 0.0);
jscode_data_coverage.setCell(1, 3, "");
jscode_data_coverage.setCell(1, 4, 2);
jscode_data_coverage.setCell(2, 0, "AccountServiceApplication.java");
jscode_data_coverage.setCell(2, 1, 1);
jscode_data_coverage.setCell(2, 2, 0.0);
jscode_data_coverage.setCell(2, 3, "");
jscode_data_coverage.setCell(2, 4, 2);
jscode_data_coverage.setCell(3, 0, "Api.java");
jscode_data_coverage.setCell(3, 1, 13);
jscode_data_coverage.setCell(3, 2, 0.0);
jscode_data_coverage.setCell(3, 3, "");
jscode_data_coverage.setCell(3, 4, 37);
jscode_data_coverage.setCell(4, 0, "Api.java");
jscode_data_coverage.setCell(4, 1, 11);
jscode_data_coverage.setCell(4, 2, 0.0);
jscode_data_coverage.setCell(4, 3, "");
jscode_data_coverage.setCell(4, 4, 33);
jscode_data_coverage.setCell(5, 0, "Customer.java");
jscode_data_coverage.setCell(5, 1, 1);
jscode_data_coverage.setCell(5, 2, 0.0);
jscode_data_coverage.setCell(5, 3, "");
jscode_data_coverage.setCell(5, 4, 5);
jscode_data_coverage.setCell(6, 0, "CustomerConfiguration.java");
jscode_data_coverage.setCell(6, 1, 1);
jscode_data_coverage.setCell(6, 2, 0.0);
jscode_data_coverage.setCell(6, 3, "");
jscode_data_coverage.setCell(6, 4, 1);
jscode_data_coverage.setCell(7, 0, "CustomerConfiguration.java");
jscode_data_coverage.setCell(7, 1, 1);
jscode_data_coverage.setCell(7, 2, 0.0);
jscode_data_coverage.setCell(7, 3, "");
jscode_data_coverage.setCell(7, 4, 1);
jscode_data_coverage.setCell(8, 0, "CustomerNotFoundException.java");
jscode_data_coverage.setCell(8, 1, 1);
jscode_data_coverage.setCell(8, 2, 0.0);
jscode_data_coverage.setCell(8, 3, "");
jscode_data_coverage.setCell(8, 4, 2);
jscode_data_coverage.setCell(9, 0, "CustomerServiceApplication.java");
jscode_data_coverage.setCell(9, 1, 1);
jscode_data_coverage.setCell(9, 2, 0.0);
jscode_data_coverage.setCell(9, 3, "");
jscode_data_coverage.setCell(9, 4, 2);
jscode_data_coverage.setCell(10, 0, "DiscoveryServiceApplication.java");
jscode_data_coverage.setCell(10, 1, 1);
jscode_data_coverage.setCell(10, 2, 0.0);
jscode_data_coverage.setCell(10, 3, "");
jscode_data_coverage.setCell(10, 4, 2);
jscode_data_coverage.setCell(11, 0, "GatewayServiceApplication.java");
jscode_data_coverage.setCell(11, 1, 1);
jscode_data_coverage.setCell(11, 2, 0.0);
jscode_data_coverage.setCell(11, 3, "");
jscode_data_coverage.setCell(11, 4, 2);
jscode_data_coverage.setCell(12, 0, "ZipkinServiceApplication.java");
jscode_data_coverage.setCell(12, 1, 1);
jscode_data_coverage.setCell(12, 2, 0.0);
jscode_data_coverage.setCell(12, 3, "");
jscode_data_coverage.setCell(12, 4, 2);
jscode_data_coverage.setCell(13, 0, "Account.java");
jscode_data_coverage.setCell(13, 1, 0);
jscode_data_coverage.setCell(13, 2, 0.0);
jscode_data_coverage.setCell(13, 3, "");
jscode_data_coverage.setCell(13, 4, 2);
jscode_data_coverage.setCell(14, 0, "Account.java");
jscode_data_coverage.setCell(14, 1, 0);
jscode_data_coverage.setCell(14, 2, 0.0);
jscode_data_coverage.setCell(14, 3, "");
jscode_data_coverage.setCell(14, 4, 2);
jscode_data_coverage.setCell(15, 0, "AccountClient.java");
jscode_data_coverage.setCell(15, 1, 0);
jscode_data_coverage.setCell(15, 2, 0.0);
jscode_data_coverage.setCell(15, 3, "");
jscode_data_coverage.setCell(15, 4, 2);
jscode_data_coverage.setCell(16, 0, "CustomerType.java");
jscode_data_coverage.setCell(16, 1, 0);
jscode_data_coverage.setCell(16, 2, 0.0);
jscode_data_coverage.setCell(16, 3, "");
jscode_data_coverage.setCell(16, 4, 2);
jscode_data_coverage.setCell(17, 0, "pom.xml");
jscode_data_coverage.setCell(17, 1, 0);
jscode_data_coverage.setCell(17, 2, 0.0);
jscode_data_coverage.setCell(17, 3, "");
jscode_data_coverage.setCell(17, 4, 2);
jscode_data_coverage.setCell(18, 0, "pom.xml");
jscode_data_coverage.setCell(18, 1, 0);
jscode_data_coverage.setCell(18, 2, 0.0);
jscode_data_coverage.setCell(18, 3, "");
jscode_data_coverage.setCell(18, 4, 2);
jscode_data_coverage.setCell(19, 0, "pom.xml");
jscode_data_coverage.setCell(19, 1, 0);
jscode_data_coverage.setCell(19, 2, 0.0);
jscode_data_coverage.setCell(19, 3, "");
jscode_data_coverage.setCell(19, 4, 2);
jscode_data_coverage.setCell(20, 0, "pom.xml");
jscode_data_coverage.setCell(20, 1, 0);
jscode_data_coverage.setCell(20, 2, 0.0);
jscode_data_coverage.setCell(20, 3, "");
jscode_data_coverage.setCell(20, 4, 2);
jscode_data_coverage.setCell(21, 0, "pom.xml");
jscode_data_coverage.setCell(21, 1, 0);
jscode_data_coverage.setCell(21, 2, 0.0);
jscode_data_coverage.setCell(21, 3, "");
jscode_data_coverage.setCell(21, 4, 2);
jscode_data_coverage.setCell(22, 0, "pom.xml");
jscode_data_coverage.setCell(22, 1, 0);
jscode_data_coverage.setCell(22, 2, 0.0);
jscode_data_coverage.setCell(22, 3, "");
jscode_data_coverage.setCell(22, 4, 2);

      var jscode_table = new google.visualization.BubbleChart(document.getElementById('buble_div_jscode_coverage'));
      jscode_table.draw(jscode_data_coverage, {title:'- Size: Uncovered lines', hAxis: {title: 'Cyclomatic complexity'}, vAxis: {title: 'Coverage'}});

      var jscode_data_duplications = new google.visualization.DataTable();
jscode_data_duplications.addColumn("string", "File name", "file_name");
jscode_data_duplications.addColumn("number", "Lines of code", "Lines_of_code");
jscode_data_duplications.addColumn("number", "Duplicated lines", "duplicated_lines");
jscode_data_duplications.addColumn("string", "ID", "ID");
jscode_data_duplications.addColumn("number", "Duplicated blocks", "duplicated_blocks");
jscode_data_duplications.addRows(23);
jscode_data_duplications.setCell(0, 0, "Account.java");
jscode_data_duplications.setCell(0, 1, 12);
jscode_data_duplications.setCell(0, 2, 0);
jscode_data_duplications.setCell(0, 3, "");
jscode_data_duplications.setCell(0, 4, 0);
jscode_data_duplications.setCell(1, 0, "Account.java");
jscode_data_duplications.setCell(1, 1, 11);
jscode_data_duplications.setCell(1, 2, 0);
jscode_data_duplications.setCell(1, 3, "");
jscode_data_duplications.setCell(1, 4, 0);
jscode_data_duplications.setCell(2, 0, "AccountClient.java");
jscode_data_duplications.setCell(2, 1, 12);
jscode_data_duplications.setCell(2, 2, 0);
jscode_data_duplications.setCell(2, 3, "");
jscode_data_duplications.setCell(2, 4, 0);
jscode_data_duplications.setCell(3, 0, "AccountConfiguration.java");
jscode_data_duplications.setCell(3, 1, 13);
jscode_data_duplications.setCell(3, 2, 0);
jscode_data_duplications.setCell(3, 3, "");
jscode_data_duplications.setCell(3, 4, 0);
jscode_data_duplications.setCell(4, 0, "AccountNotFoundException.java");
jscode_data_duplications.setCell(4, 1, 9);
jscode_data_duplications.setCell(4, 2, 0);
jscode_data_duplications.setCell(4, 3, "");
jscode_data_duplications.setCell(4, 4, 0);
jscode_data_duplications.setCell(5, 0, "AccountServiceApplication.java");
jscode_data_duplications.setCell(5, 1, 11);
jscode_data_duplications.setCell(5, 2, 0);
jscode_data_duplications.setCell(5, 3, "");
jscode_data_duplications.setCell(5, 4, 0);
jscode_data_duplications.setCell(6, 0, "Api.java");
jscode_data_duplications.setCell(6, 1, 73);
jscode_data_duplications.setCell(6, 2, 0);
jscode_data_duplications.setCell(6, 3, "");
jscode_data_duplications.setCell(6, 4, 0);
jscode_data_duplications.setCell(7, 0, "Api.java");
jscode_data_duplications.setCell(7, 1, 70);
jscode_data_duplications.setCell(7, 2, 0);
jscode_data_duplications.setCell(7, 3, "");
jscode_data_duplications.setCell(7, 4, 0);
jscode_data_duplications.setCell(8, 0, "Customer.java");
jscode_data_duplications.setCell(8, 1, 21);
jscode_data_duplications.setCell(8, 2, 0);
jscode_data_duplications.setCell(8, 3, "");
jscode_data_duplications.setCell(8, 4, 0);
jscode_data_duplications.setCell(9, 0, "CustomerConfiguration.java");
jscode_data_duplications.setCell(9, 1, 13);
jscode_data_duplications.setCell(9, 2, 0);
jscode_data_duplications.setCell(9, 3, "");
jscode_data_duplications.setCell(9, 4, 0);
jscode_data_duplications.setCell(10, 0, "CustomerConfiguration.java");
jscode_data_duplications.setCell(10, 1, 13);
jscode_data_duplications.setCell(10, 2, 0);
jscode_data_duplications.setCell(10, 3, "");
jscode_data_duplications.setCell(10, 4, 0);
jscode_data_duplications.setCell(11, 0, "CustomerNotFoundException.java");
jscode_data_duplications.setCell(11, 1, 9);
jscode_data_duplications.setCell(11, 2, 0);
jscode_data_duplications.setCell(11, 3, "");
jscode_data_duplications.setCell(11, 4, 0);
jscode_data_duplications.setCell(12, 0, "CustomerServiceApplication.java");
jscode_data_duplications.setCell(12, 1, 13);
jscode_data_duplications.setCell(12, 2, 0);
jscode_data_duplications.setCell(12, 3, "");
jscode_data_duplications.setCell(12, 4, 0);
jscode_data_duplications.setCell(13, 0, "CustomerType.java");
jscode_data_duplications.setCell(13, 1, 4);
jscode_data_duplications.setCell(13, 2, 0);
jscode_data_duplications.setCell(13, 3, "");
jscode_data_duplications.setCell(13, 4, 0);
jscode_data_duplications.setCell(14, 0, "DiscoveryServiceApplication.java");
jscode_data_duplications.setCell(14, 1, 11);
jscode_data_duplications.setCell(14, 2, 0);
jscode_data_duplications.setCell(14, 3, "");
jscode_data_duplications.setCell(14, 4, 0);
jscode_data_duplications.setCell(15, 0, "GatewayServiceApplication.java");
jscode_data_duplications.setCell(15, 1, 11);
jscode_data_duplications.setCell(15, 2, 0);
jscode_data_duplications.setCell(15, 3, "");
jscode_data_duplications.setCell(15, 4, 0);
jscode_data_duplications.setCell(16, 0, "pom.xml");
jscode_data_duplications.setCell(16, 1, 48);
jscode_data_duplications.setCell(16, 2, 0);
jscode_data_duplications.setCell(16, 3, "");
jscode_data_duplications.setCell(16, 4, 0);
jscode_data_duplications.setCell(17, 0, "pom.xml");
jscode_data_duplications.setCell(17, 1, 52);
jscode_data_duplications.setCell(17, 2, 0);
jscode_data_duplications.setCell(17, 3, "");
jscode_data_duplications.setCell(17, 4, 0);
jscode_data_duplications.setCell(18, 0, "pom.xml");
jscode_data_duplications.setCell(18, 1, 32);
jscode_data_duplications.setCell(18, 2, 0);
jscode_data_duplications.setCell(18, 3, "");
jscode_data_duplications.setCell(18, 4, 0);
jscode_data_duplications.setCell(19, 0, "pom.xml");
jscode_data_duplications.setCell(19, 1, 36);
jscode_data_duplications.setCell(19, 2, 0);
jscode_data_duplications.setCell(19, 3, "");
jscode_data_duplications.setCell(19, 4, 0);
jscode_data_duplications.setCell(20, 0, "pom.xml");
jscode_data_duplications.setCell(20, 1, 47);
jscode_data_duplications.setCell(20, 2, 0);
jscode_data_duplications.setCell(20, 3, "");
jscode_data_duplications.setCell(20, 4, 0);
jscode_data_duplications.setCell(21, 0, "pom.xml");
jscode_data_duplications.setCell(21, 1, 60);
jscode_data_duplications.setCell(21, 2, 0);
jscode_data_duplications.setCell(21, 3, "");
jscode_data_duplications.setCell(21, 4, 0);
jscode_data_duplications.setCell(22, 0, "ZipkinServiceApplication.java");
jscode_data_duplications.setCell(22, 1, 11);
jscode_data_duplications.setCell(22, 2, 0);
jscode_data_duplications.setCell(22, 3, "");
jscode_data_duplications.setCell(22, 4, 0);

      var jscode_table = new google.visualization.BubbleChart(document.getElementById('buble_div_jscode_duplications'));
      jscode_table.draw(jscode_data_duplications, {title:'- Size: Duplicated Blocks', hAxis: {title: 'Lines of Code'}, vAxis: {title: 'Duplication Lines'}});
    }
  </script>
  <body>
    <H1><strong>Issue types distribution:</strong></H1>
    <div id="table_div_jscode" style="width: 800px; height: 400px;"></div>
    <H1><strong>Reliability:</strong></H1>
    <div id="buble_div_jscode" style="width: 800px; height: 400px;"></div>
    <H1><strong>Security:</strong></H1>
    <div id="buble_div_jscode_security" style="width: 800px; height: 400px;"></div>
    <H1><strong>Maintainability:</strong></H1>
    <div id="buble_div_jscode_maintainability" style="width: 800px; height: 400px;"></div>
    <H1><strong>Coverage:</strong></H1>
    <div id="buble_div_jscode_coverage" style="width: 800px; height: 400px;"></div>
    <H1><strong>Duplications:</strong></H1>
    <div id="buble_div_jscode_duplications" style="width: 800px; height: 400px;"></div>
  </body>
</html>
